flow.json
[
    {
        "id": "92d480a1.db57d",
        "type": "tab",
        "label": "Megagame",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e65dc516.c4e21",
        "type": "tab",
        "label": "Testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9576e77a.d69f68",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "33295a88.eaa786",
        "type": "tab",
        "label": "Puzzle lock",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2f52aa5f.783a96",
        "type": "tab",
        "label": "Countdown",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2b493f5b.793ad8",
        "type": "subflow",
        "name": "RFID read",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 942.5,
                "y": 427.3333435058594,
                "wires": [
                    {
                        "id": "3cee837.cc31ffc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "7f80a2cf.94a544",
        "type": "subflow",
        "name": "Node status",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1045,
                "y": 155,
                "wires": [
                    {
                        "id": "2fff761a.f9db82",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "3c0e296d.ea2856",
        "type": "subflow",
        "name": "play sound",
        "info": "Play a sound on a specified node\n\ndefaults to play the test.wav on \"all\" nodes\n\nYou can set the \"node\" and \"sound\" on this node, \nor as input values on msg.node and msg.sound",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 98.00003051757812,
                "wires": [
                    {
                        "id": "e6da9ccf.f4532"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "node",
                "type": "str",
                "value": "all"
            },
            {
                "name": "sound",
                "type": "str",
                "value": "test.wav"
            }
        ]
    },
    {
        "id": "db41a3ab.552bb8",
        "type": "subflow",
        "name": "neopixels",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 57,
                "y": 88,
                "wires": [
                    {
                        "id": "5eb918bd.685d38"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "node",
                "type": "str",
                "value": "crickit-1"
            },
            {
                "name": "operation",
                "type": "str",
                "value": "set"
            },
            {
                "name": "colour",
                "type": "str",
                "value": "red"
            },
            {
                "name": "count",
                "type": "num",
                "value": "12"
            },
            {
                "name": "device",
                "type": "str",
                "value": "neopixel-level"
            }
        ]
    },
    {
        "id": "fa3d25ac.e5f148",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt.folly.site",
        "broker": "mqtt.thegame.folly.site",
        "port": "8883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "node-red-birth",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "closeTopic": "node-red-close",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "",
        "willTopic": "node-red-oops",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": ""
    },
    {
        "id": "cdef01bd.4b911",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "66746000.f01c5",
        "type": "ui_tab",
        "z": "",
        "name": "Megagame",
        "icon": "home",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ff553633.808228",
        "type": "ui_group",
        "z": "",
        "name": "Megagame",
        "tab": "66746000.f01c5",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "98bc3804.11c048",
        "type": "ui_group",
        "z": "",
        "name": "Form",
        "tab": "66746000.f01c5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2d6890c2.17bdc",
        "type": "ui_group",
        "z": "",
        "name": "Event log",
        "tab": "66746000.f01c5",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9bca8c13.f41658",
        "type": "ui_group",
        "z": "",
        "name": "Tags database",
        "tab": "66746000.f01c5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cf464182.ea8b48",
        "type": "ui_group",
        "z": "",
        "name": "Nodes",
        "tab": "66746000.f01c5",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fd7b8427.2d2d7",
        "type": "ui_group",
        "z": "",
        "name": "Tag Read",
        "tab": "66746000.f01c5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "82a69951.ff1f48",
        "type": "mongodb-config",
        "z": "",
        "hostname": "mongo",
        "port": "27017",
        "db": "local",
        "name": ""
    },
    {
        "id": "abfe76fc.26ead",
        "type": "ui_tab",
        "z": "",
        "name": "All Nodes",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b5740beb.c122",
        "type": "ui_group",
        "z": "7f80a2cf.94a544",
        "name": "Nodes",
        "tab": "abfe76fc.26ead",
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "dced7457.72aad",
        "type": "mqtt in",
        "z": "2b493f5b.793ad8",
        "name": "",
        "topic": "+/rfid-nfc/scan",
        "qos": "2",
        "datatype": "auto",
        "broker": "fa3d25ac.e5f148",
        "x": 155,
        "y": 171,
        "wires": [
            [
                "3ad6d1d.66e5cae"
            ]
        ]
    },
    {
        "id": "3ad6d1d.66e5cae",
        "type": "json",
        "z": "2b493f5b.793ad8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 168,
        "wires": [
            [
                "3cee837.cc31ffc"
            ]
        ]
    },
    {
        "id": "3cee837.cc31ffc",
        "type": "switch",
        "z": "2b493f5b.793ad8",
        "name": "RFID Tag Read",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "inserted",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 573.5,
        "y": 413.3333435058594,
        "wires": [
            []
        ]
    },
    {
        "id": "7d3e6676.6197b",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "increase tag's counter",
        "func": "var t = msg.topic.split(\"/\")\nvar from = t[0]\n\nvar reader = msg.orig.reader;\nvar tag = msg.orig.tag;\n\nvar count = 0\nif (msg.payload.length > 0) {\n    count = msg.payload[0].count;\n    if (isNaN(count)) {\n        count = 0;\n    }\n}\nvar incrementor = flow.get('xp-incrementor') || \"\";\nvar decrementor = flow.get('xp-decrementor') || \"\";\nvar resetor = flow.get('xp-reset') || \"\";\nif (resetor === from) {\n    count = 0\n} else if (decrementor === from) {\n    count = count - 1;\n} else if (incrementor === from) {\n    count = count + 1;\n}\n\nmsg.payload = {\n    \"count\": count,\n    \"from\": from,\n    \"reader\": reader,\n    \"tag\": tag,\n    \"operation\": \"set\",\n    \"colour\": \"blue\",\n};\nmsg.topic = from+\"/neopixel-level/play\"\n\n// what we're storing\nvar updatedb = {\n    query: {\"tag\": tag}, \n    payload: msg.payload,\n    collection: \"tags\",\n}\n\nreturn [msg, updatedb];",
        "outputs": 2,
        "noerr": 0,
        "x": 790.5,
        "y": 63,
        "wires": [
            [
                "e10ae9f1.0aaf08",
                "817e15ac.83b7d",
                "5fba6b57.f0883c",
                "c036b452.02f508",
                "3b18e0f7.2dfe88",
                "45df9f11.cbdb28"
            ],
            [
                "72af6eb4.24bb98"
            ]
        ],
        "outputLabels": [
            "tagCount",
            "database"
        ]
    },
    {
        "id": "71e0258a.78cccc",
        "type": "catch",
        "z": "92d480a1.db57d",
        "name": "",
        "scope": null,
        "x": 299.49998474121094,
        "y": 822.3333129882812,
        "wires": [
            [
                "1b98b5fb.e2e7a2"
            ]
        ]
    },
    {
        "id": "1b98b5fb.e2e7a2",
        "type": "debug",
        "z": "92d480a1.db57d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 428.5,
        "y": 826.6666259765625,
        "wires": []
    },
    {
        "id": "817e15ac.83b7d",
        "type": "mqtt out",
        "z": "92d480a1.db57d",
        "name": "send to mqtt.thegame.folly.site",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "fa3d25ac.e5f148",
        "x": 1093.5,
        "y": 365.33331298828125,
        "wires": []
    },
    {
        "id": "bd06e332.b2d49",
        "type": "subflow:2b493f5b.793ad8",
        "z": "92d480a1.db57d",
        "name": "RFID tag read",
        "env": [],
        "x": 213.25,
        "y": 73.16667938232422,
        "wires": [
            [
                "708c5338.99400c"
            ]
        ]
    },
    {
        "id": "e10ae9f1.0aaf08",
        "type": "delay",
        "z": "92d480a1.db57d",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1127.5,
        "y": 178,
        "wires": [
            [
                "be25a83b.5fad58"
            ]
        ]
    },
    {
        "id": "be25a83b.5fad58",
        "type": "change",
        "z": "92d480a1.db57d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.colour",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1209.5,
        "y": 243,
        "wires": [
            [
                "817e15ac.83b7d"
            ]
        ]
    },
    {
        "id": "5fba6b57.f0883c",
        "type": "ui_text",
        "z": "92d480a1.db57d",
        "group": "fd7b8427.2d2d7",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "experience",
        "format": "{{msg.payload.count}}",
        "layout": "row-spread",
        "x": 1120.5,
        "y": 119.99999237060547,
        "wires": []
    },
    {
        "id": "c036b452.02f508",
        "type": "ui_text",
        "z": "92d480a1.db57d",
        "group": "fd7b8427.2d2d7",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "tagid",
        "format": "{{msg.payload.tag}}",
        "layout": "row-spread",
        "x": 1096.5,
        "y": 83.99999237060547,
        "wires": []
    },
    {
        "id": "e429499.84d4c38",
        "type": "mqtt in",
        "z": "7f80a2cf.94a544",
        "name": "",
        "topic": "+/status/ping",
        "qos": "2",
        "datatype": "auto",
        "broker": "fa3d25ac.e5f148",
        "x": 215.00001525878906,
        "y": 182,
        "wires": [
            [
                "6d8475cf.3e5234"
            ]
        ]
    },
    {
        "id": "6d8475cf.3e5234",
        "type": "json",
        "z": "7f80a2cf.94a544",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 381,
        "y": 182,
        "wires": [
            [
                "2fff761a.f9db82"
            ]
        ]
    },
    {
        "id": "2fff761a.f9db82",
        "type": "switch",
        "z": "7f80a2cf.94a544",
        "name": "Ping",
        "property": "payload.ping",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 555,
        "y": 182,
        "wires": [
            [
                "75a34c37.63af6c"
            ]
        ]
    },
    {
        "id": "99f854ad.34936",
        "type": "subflow:7f80a2cf.94a544",
        "z": "92d480a1.db57d",
        "x": 313,
        "y": 373,
        "wires": [
            [
                "3a461e53.479d02",
                "c96205bc.05d72"
            ]
        ]
    },
    {
        "id": "691e4622.bd82b8",
        "type": "ui_dropdown",
        "z": "92d480a1.db57d",
        "name": "",
        "label": "Select flow state",
        "tooltip": "This will be passed on to the node status LED",
        "place": "Select option",
        "group": "ff553633.808228",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "off",
                "type": "str"
            },
            {
                "label": "",
                "value": "yellow",
                "type": "str"
            },
            {
                "label": "",
                "value": "blue",
                "type": "str"
            },
            {
                "label": "",
                "value": "green",
                "type": "str"
            },
            {
                "label": "",
                "value": "red",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 312.5,
        "y": 711,
        "wires": [
            [
                "a55b9710.6102b"
            ]
        ]
    },
    {
        "id": "a55b9710.6102b",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "set flow status - passed to rpi's status",
        "func": "\n\nflow.set('gamestate', msg.payload);\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 601,
        "y": 709,
        "wires": [
            []
        ],
        "outputLabels": [
            "tagCount"
        ]
    },
    {
        "id": "1fa9261f.65598a",
        "type": "inject",
        "z": "e65dc516.c4e21",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 171,
        "y": 147,
        "wires": [
            [
                "63b46ab4.5ab96c",
                "f5b78d12.9a909"
            ]
        ]
    },
    {
        "id": "f5b78d12.9a909",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "if ((msg['payload']) % 2 == 0) {\n  msg['payload'] = 'even';\n} else {\n  msg['payload'] = 'odd';\n}\nnode.send([msg]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"controls_if\" id=\"NTDBd@[8Q/h$qZy[U/8,\" x=\"13\" y=\"63\"><mutation else=\"1\"></mutation><value name=\"IF0\"><block type=\"math_number_property\" id=\".kS~)TEWIZ*6uS!U]sbB\"><mutation divisor_input=\"false\"></mutation><field name=\"PROPERTY\">EVEN</field><value name=\"NUMBER_TO_CHECK\"><shadow type=\"math_number\" id=\"S*8w,C|d:k~*lm:}F9p?\"><field name=\"NUM\">0</field></shadow><block type=\"node_object_get\" id=\"kb[oA~t9@usoif;2WP2A\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"LWng+sRkl6E=W^P.(GTi\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"?xaQLfLuar01[.9;?j,0\"><field name=\"TEXT\">payload</field></shadow></value></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"7vE8Npi=g[82^jS~oE)$\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"V4oR.s6]vcLSe?mP?USm\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"8n74Vh~x+V9O{9%sL9Gc\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"rlD@G61PM5grv8hb;M.7\"><field name=\"TEXT\">even</field></shadow></value></block></statement><statement name=\"ELSE\"><block type=\"node_object_set\" id=\"j(19*mNu]8k3dGQ.K4xT\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"oX_fxcV6,eGrw!A|1RIj\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"zyuwfP3/_*lQ}mtU9HPu\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"sWT*_p4/ncY;DvuV:^jM\"><field name=\"TEXT\">odd</field></shadow></value></block></statement><next><block type=\"node_send\" id=\"oISuY02rni=nk_L{m{9w\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"Y8|,~0b1X@SnPK7hcScR\"></shadow></value></block></next></block></xml>",
        "outputs": 1,
        "name": "",
        "x": 371.5,
        "y": 150,
        "wires": [
            [
                "e113004e.cde128"
            ]
        ]
    },
    {
        "id": "e113004e.cde128",
        "type": "debug",
        "z": "e65dc516.c4e21",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 615,
        "y": 156,
        "wires": []
    },
    {
        "id": "63b46ab4.5ab96c",
        "type": "debug",
        "z": "e65dc516.c4e21",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 363,
        "y": 65,
        "wires": []
    },
    {
        "id": "f08d0fcc.4d9ff",
        "type": "ui_dropdown",
        "z": "92d480a1.db57d",
        "name": "",
        "label": "XP add node",
        "tooltip": "The selected node will be the one that increases the XP",
        "place": "Select option",
        "group": "ff553633.808228",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 1044,
        "y": 531,
        "wires": [
            [
                "362b9c82.e97ec4"
            ]
        ]
    },
    {
        "id": "362b9c82.e97ec4",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "set node chosen to be the incrementor",
        "func": "\n\nflow.set('xp-incrementor', msg.payload);\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1310.5,
        "y": 535,
        "wires": [
            []
        ],
        "outputLabels": [
            "tagCount"
        ]
    },
    {
        "id": "3424f6ac.a5447a",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "select the node to increment the XP",
        "func": "\nvar def = flow.get('xp-incrementor') || \"\";\n\nvar nodes = []\nfor (const x of msg.payload) {\n    nodes.push(x.name)\n}\n\nreturn {payload: def, options: nodes};",
        "outputs": 1,
        "noerr": 0,
        "x": 806,
        "y": 531,
        "wires": [
            [
                "f08d0fcc.4d9ff"
            ]
        ],
        "outputLabels": [
            "tagCount"
        ]
    },
    {
        "id": "3b18e0f7.2dfe88",
        "type": "ui_text",
        "z": "92d480a1.db57d",
        "group": "fd7b8427.2d2d7",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "from",
        "format": "{{msg.payload.from}}",
        "layout": "row-spread",
        "x": 1098,
        "y": 20,
        "wires": []
    },
    {
        "id": "3a461e53.479d02",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "reply to node ping with gamestate colour",
        "func": "\n// what we're storing\nvar from = msg.payload.from\n\n// the reply to the node\nvar gamestatus = flow.get('gamestate') || \"yellow\";\nmsg.payload = {\n    \"from\": from,\n    \"status\": gamestatus,\n};\nmsg.topic = from+\"/ping/reply\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 689.8833312988281,
        "y": 369.8833312988281,
        "wires": [
            [
                "817e15ac.83b7d"
            ]
        ],
        "outputLabels": [
            "tagCount",
            ""
        ]
    },
    {
        "id": "76091bc6.c00cf4",
        "type": "mongodb-node",
        "z": "92d480a1.db57d",
        "mongodb": "82a69951.ff1f48",
        "name": "",
        "collection": "nodes",
        "operation": "find",
        "upsert": false,
        "multi": false,
        "x": 477.7666015625,
        "y": 594.13330078125,
        "wires": [
            [
                "b13b8aca.1966f"
            ]
        ]
    },
    {
        "id": "3591ab1.370da54",
        "type": "inject",
        "z": "92d480a1.db57d",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 168.7666778564453,
        "y": 641.583251953125,
        "wires": [
            [
                "15921cbd.9e5dc3"
            ]
        ]
    },
    {
        "id": "b13b8aca.1966f",
        "type": "ui_template",
        "z": "92d480a1.db57d",
        "group": "cf464182.ea8b48",
        "name": "NODES",
        "order": 0,
        "width": "6",
        "height": "10",
        "format": "<table width=\"100%\">\n <tr><td>node</td><td>ip</td><td>last seen</td></tr>\n <tr ng-repeat=\"(i, obj) in msg.payload\">\n   <td>{{obj.name}}</td>\n   <td>{{obj.ip}}</td>\n   <td>{{obj.timestring}}</td>\n </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 687.88330078125,
        "y": 595.88330078125,
        "wires": [
            []
        ]
    },
    {
        "id": "72af6eb4.24bb98",
        "type": "mongodb-node",
        "z": "92d480a1.db57d",
        "mongodb": "82a69951.ff1f48",
        "name": "update tag",
        "collection": "",
        "operation": "update",
        "upsert": true,
        "multi": false,
        "x": 780.88330078125,
        "y": 136.88333129882812,
        "wires": [
            []
        ]
    },
    {
        "id": "15921cbd.9e5dc3",
        "type": "mongodb-node",
        "z": "92d480a1.db57d",
        "mongodb": "82a69951.ff1f48",
        "name": "",
        "collection": "tags",
        "operation": "find",
        "upsert": false,
        "multi": false,
        "x": 385.88331604003906,
        "y": 642.88330078125,
        "wires": [
            [
                "9a3b885d.bcf478"
            ]
        ]
    },
    {
        "id": "9a3b885d.bcf478",
        "type": "ui_template",
        "z": "92d480a1.db57d",
        "group": "9bca8c13.f41658",
        "name": "TAGS",
        "order": 1,
        "width": "6",
        "height": "10",
        "format": "<table width=\"100%\">\n <tr><td>node</td><td>reader</td><td>tagid</td><td>count</td></tr>\n <tr ng-repeat=\"(id, obj) in msg.payload\">\n   <td>{{obj.from}}</td>\n   <td>{{obj.reader}}</td>\n   <td>{{obj.tag}}</td>\n   <td>{{obj.count}}</td>\n   <td>\n     <md-button class=\"vibrate filled touched rounded fa fa-minus-circle\" \n     style=\"background-color:#0000ff\" \n     ng-click='send({node: obj.name, button: \"minus\", payload: {{obj.count}}})'\n     target=\"_blank\">\n    </md-button> \n    {{obj.count}}\n     <md-button class=\"vibrate filled touched rounded fa fa-plus-circle\" \n     style=\"background-color:#0000ff\" \n     ng-click='send({node: obj.name, button: \"plus\", payload: {{obj.count}}})'\n     target=\"_blank\">\n    </md-button> \n   </td>\n </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 607.8833160400391,
        "y": 640.88330078125,
        "wires": [
            []
        ]
    },
    {
        "id": "708c5338.99400c",
        "type": "change",
        "z": "92d480a1.db57d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "orig",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"tag\": $.payload.tag }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 392.76666259765625,
        "y": 73.56668090820312,
        "wires": [
            [
                "4038d34.d293bac"
            ]
        ]
    },
    {
        "id": "4038d34.d293bac",
        "type": "mongodb-node",
        "z": "92d480a1.db57d",
        "mongodb": "82a69951.ff1f48",
        "name": "get tag",
        "collection": "tags",
        "operation": "find",
        "upsert": false,
        "multi": false,
        "x": 566.7666015625,
        "y": 72.98332977294922,
        "wires": [
            [
                "7d3e6676.6197b"
            ]
        ]
    },
    {
        "id": "efc6abf2.bd917",
        "type": "mongodb-node",
        "z": "7f80a2cf.94a544",
        "mongodb": "82a69951.ff1f48",
        "name": "",
        "collection": "nodes",
        "operation": "update",
        "upsert": true,
        "multi": false,
        "x": 1037.2665405273438,
        "y": 234.26669311523438,
        "wires": [
            []
        ]
    },
    {
        "id": "75a34c37.63af6c",
        "type": "function",
        "z": "7f80a2cf.94a544",
        "name": "store node info",
        "func": "\n// what we're storing\nvar from = msg.payload.from\nvar now = new Date(Date.now())\nvar ip = msg.payload.ip || \"undef\"\nvar node = {\n    \"name\": from,\n    \"time\": now,\n    \"timestring\": now.toString(),\n    \"ip\": ip,\n}\n\nreturn {query: {\"name\": from}, payload: node};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 784.38330078125,
        "y": 232.01669311523438,
        "wires": [
            [
                "efc6abf2.bd917"
            ]
        ],
        "outputLabels": [
            "tagCount",
            ""
        ]
    },
    {
        "id": "9d53cb0d.0118c",
        "type": "comment",
        "z": "7f80a2cf.94a544",
        "name": "Remote Node status",
        "info": "## All Nodes connected to this game server\n\nListens to Ping messages, and stores the node\ninfo in the database with the timestamp.\n\n### TODO\n\nAdd a Node management UI to select which flow a node belongs to\nthis selection can then be used to reduce the messages being output\nto only those for the flow its on...",
        "x": 141.50001525878906,
        "y": 34.46666717529297,
        "wires": []
    },
    {
        "id": "27c6c35.01d873c",
        "type": "ui_template",
        "z": "7f80a2cf.94a544",
        "group": "b5740beb.c122",
        "name": "ALLNODES",
        "order": 2,
        "width": "11",
        "height": "10",
        "format": "<table width=\"100%\">\n <tr><td>node</td><td>ip</td><td>last seen</td></tr>\n <tr ng-repeat=\"(i, obj) in msg.payload\">\n   <td>\n     <md-button class=\"vibrate filled touched bigfont rounded fa fa-search\" \n     style=\"background-color:#0000ff\" \n     ng-click='send({node: obj.name, button: \"click\"})'\n     target=\"_blank\">\n    {{obj.name}}<br/>\n    </md-button> \n   </td>\n   <td>{{obj.ip}}</td>\n   <td>{{obj.timestring}}</td>\n </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 549.2665557861328,
        "y": 426.26666259765625,
        "wires": [
            [
                "408af22.64a9f8c"
            ]
        ]
    },
    {
        "id": "391555.27c16aac",
        "type": "mongodb-node",
        "z": "7f80a2cf.94a544",
        "mongodb": "82a69951.ff1f48",
        "name": "",
        "collection": "nodes",
        "operation": "find",
        "upsert": false,
        "multi": false,
        "x": 323.14988708496094,
        "y": 427.51666259765625,
        "wires": [
            [
                "27c6c35.01d873c"
            ]
        ]
    },
    {
        "id": "e591bf14.0d14d",
        "type": "inject",
        "z": "7f80a2cf.94a544",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 99.14991760253906,
        "y": 427.96661376953125,
        "wires": [
            [
                "391555.27c16aac"
            ]
        ]
    },
    {
        "id": "4ed87e24.23e038",
        "type": "inject",
        "z": "92d480a1.db57d",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 115.00001525878906,
        "y": 593,
        "wires": [
            [
                "a6c1ba51.af21f"
            ]
        ]
    },
    {
        "id": "a6c1ba51.af21f",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "sort time desc",
        "func": "msg.sort = { \"time\": -1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 267.5,
        "y": 594,
        "wires": [
            [
                "76091bc6.c00cf4"
            ]
        ]
    },
    {
        "id": "c96205bc.05d72",
        "type": "debug",
        "z": "92d480a1.db57d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 528.8333435058594,
        "y": 419,
        "wires": []
    },
    {
        "id": "45df9f11.cbdb28",
        "type": "ui_text",
        "z": "92d480a1.db57d",
        "group": "fd7b8427.2d2d7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "reader",
        "format": "{{msg.payload.reader}}",
        "layout": "row-spread",
        "x": 1091.8333282470703,
        "y": 52,
        "wires": []
    },
    {
        "id": "8d529a0d.19c9c8",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "function mathRandomInt(a, b) {\n  if (a > b) {\n    // Swap a and b to ensure a is smaller.\n    var c = a;\n    a = b;\n    b = c;\n  }\n  return Math.floor(Math.random() * (b - a + 1) + a);\n}\n\n\nglobal.set('Player1', ({ \"Name\": 'Wilderbrow', \"Health\": (Math.min(Math.max(mathRandomInt(1, 100), 1), 100)), \"Attack\": (mathRandomInt(1, 10)), \"Experience\": 0 }));\nmsg['payload'] = 'Player1';\nnode.send([msg]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"node_object_set\" id=\"$pv#Jpzs*^`V062i*~AI\" x=\"112\" y=\"38\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\";:hFP[i5uVE*_+H:,H[f\"></shadow><block type=\"node_global_memory\" id=\"xsY8;!d6jz/=LreQ1vBo\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"lwj=!60,1~-^*IhQPJR?\"><field name=\"TEXT\">Player1</field></shadow><block type=\"text\" id=\"]~$+qdT~^vRJwFs/M%L#\"><field name=\"TEXT\">Player1</field></block></value><value name=\"value_field\"><shadow type=\"text\" id=\"i/R?OlRK@EKht~0bVgg_\"><field name=\"TEXT\">Hello World</field></shadow><block type=\"object_create\" id=\"/U!Ew?2UCwkS/`l_-?}/\"><mutation num_fields=\"4\"><field name=\"Name\"></field><field name=\"Health\"></field><field name=\"Attack\"></field><field name=\"Experience\"></field></mutation><field name=\"field1\">Name</field><field name=\"field2\">Health</field><field name=\"field3\">Attack</field><field name=\"field4\">Experience</field><value name=\"field_input1\"><block type=\"text\" id=\"(^2a[)M+/{T9B9N}c(,n\"><field name=\"TEXT\">Wilderbrow</field></block></value><value name=\"field_input2\"><block type=\"math_constrain\" id=\"R_u);c-tOz~28W^.`rJN\"><value name=\"VALUE\"><shadow type=\"math_number\" id=\"P6PWbIO+9q-:S:_?^!(:\"><field name=\"NUM\">75</field></shadow><block type=\"math_random_int\" id=\"1Q_AHpixHv@do$@F|jj4\"><value name=\"FROM\"><shadow type=\"math_number\" id=\"R_mc7A;rxkj7u*~RpEX%\"><field name=\"NUM\">1</field></shadow></value><value name=\"TO\"><shadow type=\"math_number\" id=\"`xLMC3t5UyVA}}`;0UT{\"><field name=\"NUM\">100</field></shadow></value></block></value><value name=\"LOW\"><shadow type=\"math_number\" id=\":_Q8-Lp{7V?Rtf$zmg%[\"><field name=\"NUM\">1</field></shadow></value><value name=\"HIGH\"><shadow type=\"math_number\" id=\"f?};eH{xkfy8F{v-8:j=\"><field name=\"NUM\">100</field></shadow></value></block></value><value name=\"field_input3\"><block type=\"math_random_int\" id=\"a#0fO]~DiUg]]zaBQ9t!\"><value name=\"FROM\"><shadow type=\"math_number\" id=\"%)gC):H1IDWZ!HhSTmPb\"><field name=\"NUM\">1</field></shadow></value><value name=\"TO\"><shadow type=\"math_number\" id=\"3^8;NDQCFi^PtOOxoxC;\"><field name=\"NUM\">10</field></shadow></value></block></value><value name=\"field_input4\"><block type=\"math_number\" id=\"Rnh]#vL4M~C~2*]2~XF:\"><field name=\"NUM\">0</field></block></value></block></value><next><block type=\"node_object_set\" id=\"`}qciF@Xwd11HY~0Ai-1\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"JWS}V;pB]^F^$|7@sm]B\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"#L9UVDmy@2~nsnt~/PW#\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"P:q=|22W`Rxu)2Q*Z?+B\"><field name=\"TEXT\"></field></shadow><block type=\"text\" id=\"zOa~X8YdzF-7}_|P$~:#\"><field name=\"TEXT\">Player1</field></block></value><next><block type=\"node_send\" id=\"IVx8hEh.td7wr{Osw}GO\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"SV2H^wp(pB~,YTT!Xc=l\"></shadow></value></block></next></block></next></block></xml>",
        "outputs": 1,
        "name": "Character Gen",
        "x": 449.50000762939453,
        "y": 319.00000381469727,
        "wires": [
            []
        ]
    },
    {
        "id": "7a588efa.8fc1d",
        "type": "inject",
        "z": "e65dc516.c4e21",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 158.0999984741211,
        "y": 467.00000381469727,
        "wires": [
            [
                "3e45702b.4caa5"
            ]
        ]
    },
    {
        "id": "c6144bb9.7160c8",
        "type": "debug",
        "z": "e65dc516.c4e21",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1202.1000137329102,
        "y": 305.0000057220459,
        "wires": []
    },
    {
        "id": "28182c15.fe8e24",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "function mathRandomInt(a, b) {\n  if (a > b) {\n    // Swap a and b to ensure a is smaller.\n    var c = a;\n    a = b;\n    b = c;\n  }\n  return Math.floor(Math.random() * (b - a + 1) + a);\n}\n\n\nglobal.set('Player2', ({ \"Name\": 'Brow', \"Health\": (Math.min(Math.max(mathRandomInt(1, 100), 1), 100)), \"Attack\": (mathRandomInt(1, 10)), \"Experience\": 0 }));\nnode.send([msg]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"node_object_set\" id=\"$pv#Jpzs*^`V062i*~AI\" x=\"187\" y=\"63\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\";:hFP[i5uVE*_+H:,H[f\"></shadow><block type=\"node_global_memory\" id=\"`26dVGU$,J6s0/LobiO-\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"lwj=!60,1~-^*IhQPJR?\"><field name=\"TEXT\">Player2</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"i/R?OlRK@EKht~0bVgg_\"><field name=\"TEXT\">Hello World</field></shadow><block type=\"object_create\" id=\"/U!Ew?2UCwkS/`l_-?}/\"><mutation num_fields=\"4\"><field name=\"Name\"></field><field name=\"Health\"></field><field name=\"Attack\"></field><field name=\"Experience\"></field></mutation><field name=\"field1\">Name</field><field name=\"field2\">Health</field><field name=\"field3\">Attack</field><field name=\"field4\">Experience</field><value name=\"field_input1\"><block type=\"text\" id=\"(^2a[)M+/{T9B9N}c(,n\"><field name=\"TEXT\">Brow</field></block></value><value name=\"field_input2\"><block type=\"math_constrain\" id=\"R_u);c-tOz~28W^.`rJN\"><value name=\"VALUE\"><shadow type=\"math_number\" id=\"P6PWbIO+9q-:S:_?^!(:\"><field name=\"NUM\">75</field></shadow><block type=\"math_random_int\" id=\"1Q_AHpixHv@do$@F|jj4\"><value name=\"FROM\"><shadow type=\"math_number\" id=\"R_mc7A;rxkj7u*~RpEX%\"><field name=\"NUM\">1</field></shadow></value><value name=\"TO\"><shadow type=\"math_number\" id=\"`xLMC3t5UyVA}}`;0UT{\"><field name=\"NUM\">100</field></shadow></value></block></value><value name=\"LOW\"><shadow type=\"math_number\" id=\":_Q8-Lp{7V?Rtf$zmg%[\"><field name=\"NUM\">1</field></shadow></value><value name=\"HIGH\"><shadow type=\"math_number\" id=\"f?};eH{xkfy8F{v-8:j=\"><field name=\"NUM\">100</field></shadow></value></block></value><value name=\"field_input3\"><block type=\"math_random_int\" id=\"a#0fO]~DiUg]]zaBQ9t!\"><value name=\"FROM\"><shadow type=\"math_number\" id=\"%)gC):H1IDWZ!HhSTmPb\"><field name=\"NUM\">1</field></shadow></value><value name=\"TO\"><shadow type=\"math_number\" id=\"3^8;NDQCFi^PtOOxoxC;\"><field name=\"NUM\">10</field></shadow></value></block></value><value name=\"field_input4\"><block type=\"math_number\" id=\"Rnh]#vL4M~C~2*]2~XF:\"><field name=\"NUM\">0</field></block></value></block></value><next><block type=\"node_send\" id=\"IVx8hEh.td7wr{Osw}GO\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"SV2H^wp(pB~,YTT!Xc=l\"></shadow></value></block></next></block></xml>",
        "outputs": 1,
        "name": "Character Gen2",
        "x": 437.00000762939453,
        "y": 373.0000057220459,
        "wires": [
            []
        ]
    },
    {
        "id": "c8052871.ad8158",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "var Player_Health, random_attack;\n\nfunction mathRandomInt(a, b) {\n  if (a > b) {\n    // Swap a and b to ensure a is smaller.\n    var c = a;\n    a = b;\n    b = c;\n  }\n  return Math.floor(Math.random() * (b - a + 1) + a);\n}\n\n\nPlayer_Health = (msg['Health']);\nrandom_attack = mathRandomInt(100, 200);\nif (random_attack > Player_Health) {\n  msg['health'] = (Player_Health - 10);\n}\nreturn msg;\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"RZCf}2vU!~f#S!fh1ALZ\">Player Health</variable><variable type=\"\" id=\"r8)ZXWEhzs%)VXb4QcS.\">random attack</variable></variables><block type=\"variables_set\" id=\"4b2b(Vcgh9s39SGuiA`X\" x=\"62\" y=\"-12\"><field name=\"VAR\" id=\"RZCf}2vU!~f#S!fh1ALZ\" variabletype=\"\">Player Health</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"9E$5o,RuoH53J~T6MPP,\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"$[Af**y%:%4uXt.).%Sr\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"02_@o4Z0IA15`b8npxvZ\"><field name=\"TEXT\">Health</field></shadow></value></block></value><next><block type=\"variables_set\" id=\"DZ30sM!RvH]^j3XHu@]Z\"><field name=\"VAR\" id=\"r8)ZXWEhzs%)VXb4QcS.\" variabletype=\"\">random attack</field><value name=\"VALUE\"><block type=\"math_random_int\" id=\"H%dk[YpVILRI8iYgb4P/\"><value name=\"FROM\"><shadow type=\"math_number\" id=\"L=~q9GXfT$hn^_|@Ixn,\"><field name=\"NUM\">100</field></shadow></value><value name=\"TO\"><shadow type=\"math_number\" id=\"u8?#}jF3Cn$FYp-0^66f\"><field name=\"NUM\">200</field></shadow></value></block></value><next><block type=\"controls_if\" id=\"Mhwbwl[VuQqwb;vt+eoO\"><value name=\"IF0\"><block type=\"logic_compare\" id=\",}t+rD(t_R?AF|ic;jiW\"><field name=\"OP\">GT</field><value name=\"A\"><block type=\"variables_get\" id=\"[2e#iqG8ByGGs~_tpKS|\"><field name=\"VAR\" id=\"r8)ZXWEhzs%)VXb4QcS.\" variabletype=\"\">random attack</field></block></value><value name=\"B\"><block type=\"variables_get\" id=\"Zz!bbtDhuu{Qa|gq|~b@\"><field name=\"VAR\" id=\"RZCf}2vU!~f#S!fh1ALZ\" variabletype=\"\">Player Health</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"Kcmby;pTn=f_q_i2K7,i\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"hh%o}#xP=GLij^_.U5Ef\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"N?z/d=O$i(d$)A6rRB1,\"><field name=\"TEXT\">health</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"0WC]x}}k_Xt;/N0X$G``\"><field name=\"TEXT\"></field></shadow><block type=\"math_arithmetic\" id=\"UoAI;L^}pa*S-{RK[`[q\"><field name=\"OP\">MINUS</field><value name=\"A\"><shadow type=\"math_number\" id=\"?G+.[TMSa]]lF21PRtAM\"><field name=\"NUM\">1</field></shadow><block type=\"variables_get\" id=\"@K|0,Mho]?LNHoQQtX#=\"><field name=\"VAR\" id=\"RZCf}2vU!~f#S!fh1ALZ\" variabletype=\"\">Player Health</field></block></value><value name=\"B\"><shadow type=\"math_number\" id=\"T+exu=hT:ICT-(x@jv3}\"><field name=\"NUM\">10</field></shadow></value></block></value></block></statement><next><block type=\"node_return_message\" id=\"ZPx`28Oi%mZr!e0)9!DE\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"pKG9ZdEUpb=x)o$e7t`E\"></shadow></value></block></next></block></next></block></next></block></xml>",
        "outputs": 1,
        "name": "Attacked",
        "x": 957.1000137329102,
        "y": 274.00000381469727,
        "wires": [
            [
                "c6144bb9.7160c8"
            ]
        ]
    },
    {
        "id": "657ac925.98af48",
        "type": "inject",
        "z": "e65dc516.c4e21",
        "name": "",
        "topic": "",
        "payload": "state",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 722.1000595092773,
        "y": 310.00000381469727,
        "wires": [
            [
                "8cb1547c.7edc78"
            ]
        ]
    },
    {
        "id": "8cb1547c.7edc78",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "function mathRandomInt(a, b) {\n  if (a > b) {\n    // Swap a and b to ensure a is smaller.\n    var c = a;\n    a = b;\n    b = c;\n  }\n  return Math.floor(Math.random() * (b - a + 1) + a);\n}\n\n\nmsg['payload'] = ({ \"Name\": 'Wilderbrow', \"Health\": (Math.min(Math.max(mathRandomInt(1, 100), 1), 100)), \"Attack\": (mathRandomInt(1, 10)), \"Experience\": 0 });\nnode.send([msg]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"node_object_set\" id=\"$pv#Jpzs*^`V062i*~AI\" x=\"87\" y=\"38\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\";:hFP[i5uVE*_+H:,H[f\"></shadow><block type=\"node_msg\" id=\"Qt2Cz1Rpw=:-Qpyroy4P\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"lwj=!60,1~-^*IhQPJR?\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"i/R?OlRK@EKht~0bVgg_\"><field name=\"TEXT\">Hello World</field></shadow><block type=\"object_create\" id=\"/U!Ew?2UCwkS/`l_-?}/\"><mutation num_fields=\"4\"><field name=\"Name\"></field><field name=\"Health\"></field><field name=\"Attack\"></field><field name=\"Experience\"></field></mutation><field name=\"field1\">Name</field><field name=\"field2\">Health</field><field name=\"field3\">Attack</field><field name=\"field4\">Experience</field><value name=\"field_input1\"><block type=\"text\" id=\"(^2a[)M+/{T9B9N}c(,n\"><field name=\"TEXT\">Wilderbrow</field></block></value><value name=\"field_input2\"><block type=\"math_constrain\" id=\"R_u);c-tOz~28W^.`rJN\"><value name=\"VALUE\"><shadow type=\"math_number\" id=\"P6PWbIO+9q-:S:_?^!(:\"><field name=\"NUM\">75</field></shadow><block type=\"math_random_int\" id=\"1Q_AHpixHv@do$@F|jj4\"><value name=\"FROM\"><shadow type=\"math_number\" id=\"R_mc7A;rxkj7u*~RpEX%\"><field name=\"NUM\">1</field></shadow></value><value name=\"TO\"><shadow type=\"math_number\" id=\"`xLMC3t5UyVA}}`;0UT{\"><field name=\"NUM\">100</field></shadow></value></block></value><value name=\"LOW\"><shadow type=\"math_number\" id=\":_Q8-Lp{7V?Rtf$zmg%[\"><field name=\"NUM\">1</field></shadow></value><value name=\"HIGH\"><shadow type=\"math_number\" id=\"f?};eH{xkfy8F{v-8:j=\"><field name=\"NUM\">100</field></shadow></value></block></value><value name=\"field_input3\"><block type=\"math_random_int\" id=\"a#0fO]~DiUg]]zaBQ9t!\"><value name=\"FROM\"><shadow type=\"math_number\" id=\"%)gC):H1IDWZ!HhSTmPb\"><field name=\"NUM\">1</field></shadow></value><value name=\"TO\"><shadow type=\"math_number\" id=\"3^8;NDQCFi^PtOOxoxC;\"><field name=\"NUM\">10</field></shadow></value></block></value><value name=\"field_input4\"><block type=\"math_number\" id=\"Rnh]#vL4M~C~2*]2~XF:\"><field name=\"NUM\">0</field></block></value></block></value><next><block type=\"node_send\" id=\"IVx8hEh.td7wr{Osw}GO\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"SV2H^wp(pB~,YTT!Xc=l\"></shadow></value></block></next></block></xml>",
        "outputs": 1,
        "name": "Character Gen",
        "x": 907.0000152587891,
        "y": 403.0000057220459,
        "wires": [
            [
                "c6144bb9.7160c8",
                "fce5dc88.e7571",
                "a271645b.234b08"
            ]
        ]
    },
    {
        "id": "fce5dc88.e7571",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "msg['payload']['Health'] = 'Dead';\nnode.send([msg]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"node_object_set\" id=\"iIdB|?Dnx}?.klIW|HnR\" x=\"188\" y=\"87\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"@yZg]Mh;JK24fW=!Cnr,\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"3kwKmFSH?Bi}lyPTaX`b\"><field name=\"TEXT\">payload.Health</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"IG-nE+*g6Rx%[tWv0x2o\"><field name=\"TEXT\">Dead</field></shadow></value><next><block type=\"node_send\" id=\"35[$[D0wTs)u6JQ(axVS\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"Oiclg;lPfRMCaa64K48{\"></shadow></value></block></next></block></xml>",
        "outputs": 1,
        "name": "",
        "x": 1103.0999755859375,
        "y": 467,
        "wires": [
            []
        ]
    },
    {
        "id": "2b4a21c7.9d0fbe",
        "type": "debug",
        "z": "e65dc516.c4e21",
        "name": "Progress",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 637.1000366210938,
        "y": 479,
        "wires": []
    },
    {
        "id": "3e45702b.4caa5",
        "type": "change",
        "z": "e65dc516.c4e21",
        "name": "Progress",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 404.1000061035156,
        "y": 477.00000762939453,
        "wires": [
            [
                "2b4a21c7.9d0fbe"
            ]
        ]
    },
    {
        "id": "37b06809.e457b8",
        "type": "debug",
        "z": "e65dc516.c4e21",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1469.1000175476074,
        "y": 357.00000953674316,
        "wires": []
    },
    {
        "id": "a271645b.234b08",
        "type": "change",
        "z": "e65dc516.c4e21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.health",
                "pt": "msg",
                "to": "(payload.health-10)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1217.1000137329102,
        "y": 379.00000953674316,
        "wires": [
            [
                "37b06809.e457b8"
            ]
        ]
    },
    {
        "id": "3584f2a0.d5a21e",
        "type": "function",
        "z": "9576e77a.d69f68",
        "name": "Fn",
        "func": "var state = msg.payload;\n\nvar payload;\n\nswitch(state)\n{\n    case \"A\" : payload = 1;\n    break;\n    \n    case \"B\" : payload = 2;\n    break;\n    \n    case \"C\" : payload = 3;\n    break;\n    \n    case \"D\" : payload = 4;\n    break;\n}\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890.0000114440918,
        "y": 223.00000381469727,
        "wires": [
            [
                "2ae92b2b.e99654"
            ]
        ]
    },
    {
        "id": "63db899f.c1c6c8",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 574,
        "y": 137,
        "wires": [
            [
                "3584f2a0.d5a21e"
            ]
        ]
    },
    {
        "id": "94652184.e07df",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 575,
        "y": 204,
        "wires": [
            [
                "3584f2a0.d5a21e"
            ]
        ]
    },
    {
        "id": "69c42f3d.8c358",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "C",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 559.0000076293945,
        "y": 280.00000381469727,
        "wires": [
            [
                "3584f2a0.d5a21e"
            ]
        ]
    },
    {
        "id": "d6a76456.3580d8",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "D",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 569,
        "y": 356,
        "wires": [
            [
                "3584f2a0.d5a21e"
            ]
        ]
    },
    {
        "id": "2ae92b2b.e99654",
        "type": "debug",
        "z": "9576e77a.d69f68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1258,
        "y": 225,
        "wires": []
    },
    {
        "id": "131abfb.fe03a4",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "99",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 570,
        "y": 486,
        "wires": [
            [
                "523306a8.901cc8"
            ]
        ]
    },
    {
        "id": "f38a57.554b45a8",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "99",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 571,
        "y": 542,
        "wires": [
            [
                "1dcc2cb1.8b5c73"
            ]
        ]
    },
    {
        "id": "523306a8.901cc8",
        "type": "function",
        "z": "9576e77a.d69f68",
        "name": "+1",
        "func": "msg.payload = msg.payload+1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 942,
        "y": 476,
        "wires": [
            [
                "31175e77.b0bf92"
            ]
        ]
    },
    {
        "id": "17ab9c8b.bec673",
        "type": "function",
        "z": "9576e77a.d69f68",
        "name": "+1",
        "func": "msg.payload = msg.payload+1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 944,
        "y": 537,
        "wires": [
            [
                "f98bd9aa.a7ee38"
            ]
        ]
    },
    {
        "id": "1dcc2cb1.8b5c73",
        "type": "function",
        "z": "9576e77a.d69f68",
        "name": "parseFloat",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 752,
        "y": 541,
        "wires": [
            [
                "17ab9c8b.bec673"
            ]
        ]
    },
    {
        "id": "31175e77.b0bf92",
        "type": "debug",
        "z": "9576e77a.d69f68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1249,
        "y": 478,
        "wires": []
    },
    {
        "id": "f98bd9aa.a7ee38",
        "type": "debug",
        "z": "9576e77a.d69f68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1246,
        "y": 539,
        "wires": []
    },
    {
        "id": "be135ce7.0778a",
        "type": "comment",
        "z": "9576e77a.d69f68",
        "name": "Lab1-2 : Payload Type",
        "info": "",
        "x": 540,
        "y": 432,
        "wires": []
    },
    {
        "id": "eeb0c6c8.c54448",
        "type": "comment",
        "z": "9576e77a.d69f68",
        "name": "Lab1-1 : Use Function",
        "info": "",
        "x": 550,
        "y": 77,
        "wires": []
    },
    {
        "id": "a49f6fa1.701d6",
        "type": "debug",
        "z": "9576e77a.d69f68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1241,
        "y": 996,
        "wires": []
    },
    {
        "id": "63762a19.2a2274",
        "type": "function",
        "z": "9576e77a.d69f68",
        "name": "High",
        "func": "msg.payload =\"High\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 979,
        "y": 1031,
        "wires": [
            [
                "a49f6fa1.701d6"
            ]
        ]
    },
    {
        "id": "ebbfe458.c1c428",
        "type": "function",
        "z": "9576e77a.d69f68",
        "name": "Low",
        "func": "msg.payload = \"Low\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 979,
        "y": 971,
        "wires": [
            [
                "a49f6fa1.701d6"
            ]
        ]
    },
    {
        "id": "2da6ff4b.b143a",
        "type": "switch",
        "z": "9576e77a.d69f68",
        "name": ">10",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 794,
        "y": 1003,
        "wires": [
            [
                "ebbfe458.c1c428"
            ],
            [
                "63762a19.2a2274"
            ]
        ]
    },
    {
        "id": "206b95cd.c5701a",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 562,
        "y": 1042,
        "wires": [
            [
                "2da6ff4b.b143a"
            ]
        ]
    },
    {
        "id": "317f5c7a.32e0c4",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 566,
        "y": 983,
        "wires": [
            [
                "2da6ff4b.b143a"
            ]
        ]
    },
    {
        "id": "dcdb3b9b.c31a18",
        "type": "comment",
        "z": "9576e77a.d69f68",
        "name": "Lab 3 : Number",
        "info": "",
        "x": 532,
        "y": 919,
        "wires": []
    },
    {
        "id": "73ad7d3c.9f2af4",
        "type": "comment",
        "z": "9576e77a.d69f68",
        "name": "Lab 4 : Delay",
        "info": "",
        "x": 521,
        "y": 1143.9999389648438,
        "wires": []
    },
    {
        "id": "b8a5282f.edcd28",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "Delay",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 571.3402709960938,
        "y": 1232,
        "wires": [
            [
                "af88eec9.5233f"
            ]
        ]
    },
    {
        "id": "af88eec9.5233f",
        "type": "delay",
        "z": "9576e77a.d69f68",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 845,
        "y": 1231.9998168945312,
        "wires": [
            [
                "8da12135.8c37b"
            ]
        ]
    },
    {
        "id": "8da12135.8c37b",
        "type": "debug",
        "z": "9576e77a.d69f68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1243.3402709960938,
        "y": 1227.9999389648438,
        "wires": []
    },
    {
        "id": "2841ba15.a887f6",
        "type": "comment",
        "z": "9576e77a.d69f68",
        "name": "Lab 6 : Repeat",
        "info": "",
        "x": 527.7847137451172,
        "y": 1306.4444580078125,
        "wires": []
    },
    {
        "id": "c63bc0c7.efd67",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 578.7847137451172,
        "y": 1375.4444580078125,
        "wires": [
            [
                "118cb000.dbb79"
            ]
        ]
    },
    {
        "id": "118cb000.dbb79",
        "type": "debug",
        "z": "9576e77a.d69f68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1248.000015258789,
        "y": 1376,
        "wires": []
    },
    {
        "id": "32d103cb.993d4c",
        "type": "comment",
        "z": "9576e77a.d69f68",
        "name": "Lab 5 : Context",
        "info": "",
        "x": 524.7847137451172,
        "y": 1442.1109619140625,
        "wires": []
    },
    {
        "id": "bb965d31.dc2ae",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "Button",
        "payload": " ",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 557.7847137451172,
        "y": 1506.4444580078125,
        "wires": [
            [
                "62feabd8.106494"
            ]
        ]
    },
    {
        "id": "62feabd8.106494",
        "type": "function",
        "z": "9576e77a.d69f68",
        "name": "Context",
        "func": "\nvar count = context.count || 0;\n\ncount += 1;\n\ncontext.count = count;\n\nmsg.payload = \"Count : \"+ context.count;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870.7153472900391,
        "y": 1508.263916015625,
        "wires": [
            [
                "801f0cb3.6f0ee"
            ]
        ]
    },
    {
        "id": "801f0cb3.6f0ee",
        "type": "debug",
        "z": "9576e77a.d69f68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1254.7847442626953,
        "y": 1507.888916015625,
        "wires": []
    },
    {
        "id": "31b91da7.7fde02",
        "type": "comment",
        "z": "9576e77a.d69f68",
        "name": "Lab 6 : Storage",
        "info": "",
        "x": 524.8958282470703,
        "y": 1581.2222900390625,
        "wires": []
    },
    {
        "id": "595845d2.a2bfec",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 562.9999389648438,
        "y": 1626.9998779296875,
        "wires": [
            [
                "cc0e274a.128888"
            ]
        ]
    },
    {
        "id": "cc0e274a.128888",
        "type": "file",
        "z": "9576e77a.d69f68",
        "name": "",
        "filename": "/Users/Lab3/out.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 1281.9999237060547,
        "y": 1631.9998779296875,
        "wires": [
            []
        ]
    },
    {
        "id": "463c2ba7.8dcb14",
        "type": "comment",
        "z": "9576e77a.d69f68",
        "name": "Lab 7-1 : Send Http Get ",
        "info": "",
        "x": 549.8958282470703,
        "y": 1694.2222900390625,
        "wires": []
    },
    {
        "id": "48ebbd86.6afd04",
        "type": "inject",
        "z": "9576e77a.d69f68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 562,
        "y": 1765,
        "wires": [
            [
                "cb0a078b.f02398"
            ]
        ]
    },
    {
        "id": "cb0a078b.f02398",
        "type": "http request",
        "z": "9576e77a.d69f68",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.espert.io/MySmartphone/send?key=XXXX&message={{{payload}}}",
        "tls": "",
        "x": 1264.0000457763672,
        "y": 1759.9998779296875,
        "wires": [
            []
        ]
    },
    {
        "id": "c22bea83.d1f6a8",
        "type": "debug",
        "z": "9576e77a.d69f68",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1264.8957977294922,
        "y": 1901.2222900390625,
        "wires": []
    },
    {
        "id": "b052b973.364ef8",
        "type": "http request",
        "z": "9576e77a.d69f68",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.espert.io/MySmartphone/send?key=XXXX&message=TOO_HOT",
        "tls": "",
        "x": 561.0000305175781,
        "y": 1895.9998779296875,
        "wires": [
            [
                "c22bea83.d1f6a8"
            ]
        ]
    },
    {
        "id": "655f042e.e77e8c",
        "type": "comment",
        "z": "9576e77a.d69f68",
        "name": "Lab 7-2 : Get Http Get ",
        "info": "",
        "x": 535.8958282470703,
        "y": 1830.5556640625,
        "wires": []
    },
    {
        "id": "4d7875a5.5fa17c",
        "type": "debug",
        "z": "33295a88.eaa786",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 761,
        "y": 343.00000381469727,
        "wires": []
    },
    {
        "id": "c1e14007.d8a2b",
        "type": "Blockly",
        "z": "33295a88.eaa786",
        "language": "en",
        "func": "var success, input, Order;\n\n\nsuccess = false;\ninput = (msg['payload']);\nOrder = (global.get('puzzleorder')) + input;\nif (Order == '0ABCD') {\n  success = true;\n}\nif (Order == '0A') {\n  global.set('puzzleorder', Order);\n} else if (Order == '0AB') {\n  global.set('puzzleorder', Order);\n} else if (Order == '0ABC') {\n  global.set('puzzleorder', Order);\n} else if (Order == '0ABCD') {\n  global.set('puzzleorder', Order);\n} else {\n  global.set('puzzleorder', '0');\n}\nmsg['payload'] = Order;\nif (success == true) {\n  msg['payload'] = success;\n}\nnode.send([msg]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"Qf;P.ol_%Q]}gbPyTS6e\">success</variable><variable type=\"\" id=\"Bx3JiJ49Q9X8AR7h4e%y\">input</variable><variable type=\"\" id=\"*B!C++ogeY8Lr|=~ncbr\">Order</variable></variables><block type=\"variables_set\" id=\"D*kKZFMgugemu`m6p=(L\" x=\"112\" y=\"37\"><field name=\"VAR\" id=\"Qf;P.ol_%Q]}gbPyTS6e\" variabletype=\"\">success</field><value name=\"VALUE\"><block type=\"logic_boolean\" id=\"*U;Gxs8ZseV[~mAc+$Ob\"><field name=\"BOOL\">FALSE</field></block></value><next><block type=\"variables_set\" id=\")0[1QvZeOdKa~Wh9,nSL\"><field name=\"VAR\" id=\"Bx3JiJ49Q9X8AR7h4e%y\" variabletype=\"\">input</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"kRKA@)X_%{jw1!Gg.P~=\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"F[x|~,|d$H+[sct`z{X+\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"^P$SPVXvwCk9S;g^-][)\"><field name=\"TEXT\">payload</field></shadow></value></block></value><next><block type=\"variables_set\" id=\"5b?21?zM@L9+41drFCB!\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field><value name=\"VALUE\"><block type=\"math_arithmetic\" id=\"M6q$u*Rfn7@jlB;T/oQ4\"><field name=\"OP\">ADD</field><value name=\"A\"><shadow type=\"math_number\" id=\"D`@=7-}n7giK*o|*A?N#\"><field name=\"NUM\">1</field></shadow><block type=\"node_object_get\" id=\"z_C:KA)8|Z6XK=0qsp{E\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"tG5a_cru~1)5]W6yX|6f\"></shadow><block type=\"node_global_memory\" id=\"rOW-@~y8,M6VLyzL:fu=\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"1VUWE?|zo,KdO,XVN1?M\"><field name=\"TEXT\">puzzleorder</field></shadow></value></block></value><value name=\"B\"><shadow type=\"math_number\" id=\"v7QtqJ}!Eqs54vh`in9u\"><field name=\"NUM\">1</field></shadow><block type=\"variables_get\" id=\"j]p68,mNlsCxUb5,=C(i\"><field name=\"VAR\" id=\"Bx3JiJ49Q9X8AR7h4e%y\" variabletype=\"\">input</field></block></value></block></value><next><block type=\"controls_if\" id=\"TlqI]HfoWuc=K8[oIjM[\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"W.RyJPTRB.rE/b57n|e}\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\"L)`BHnE?{#(qN{BVoy?#\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value><value name=\"B\"><block type=\"text\" id=\"pE22E!1L^E;K=9pSyK8y\"><field name=\"TEXT\">0ABCD</field></block></value></block></value><statement name=\"DO0\"><block type=\"variables_set\" id=\"-S.gr^%V*:N8!~PO`I+/\"><field name=\"VAR\" id=\"Qf;P.ol_%Q]}gbPyTS6e\" variabletype=\"\">success</field><value name=\"VALUE\"><block type=\"logic_boolean\" id=\"cwIebdS!,![%rAjoH[9k\"><field name=\"BOOL\">TRUE</field></block></value></block></statement><next><block type=\"controls_if\" id=\"sP-!~f-4XpsHZpA2Wq5!\"><mutation elseif=\"3\" else=\"1\"></mutation><value name=\"IF0\"><block type=\"logic_compare\" id=\"9^o!Hl?Zl2N%D0Ed?W.b\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\"cdj0pYW$|VgFL*-YR#$=\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value><value name=\"B\"><block type=\"text\" id=\"A2Un:7}0^^~,@oEgVV=y\"><field name=\"TEXT\">0A</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"-k3E+Byrd4fnXBR?lYQs\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"v]__Fk}+K_XB?m|cb)c%\"></shadow><block type=\"node_global_memory\" id=\"825cX$5onx_g+EhwljC*\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"9}oG~JD(wVe#[SLsp)`8\"><field name=\"TEXT\">puzzleorder</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"P1DeO=7xcrFuYvLQ)ly7\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"=my^;*n)BV*S/NA,mNHk\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value></block></statement><value name=\"IF1\"><block type=\"logic_compare\" id=\"}b=nF`/t7|0ZNoqG^?51\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\"q;Q(_+WZ6KmOV$HrQk-u\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value><value name=\"B\"><block type=\"text\" id=\"E)VGN_C!En4HhuXkn.}6\"><field name=\"TEXT\">0AB</field></block></value></block></value><statement name=\"DO1\"><block type=\"node_object_set\" id=\"95n^Hv77r{8yb1qRs]@?\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"v]__Fk}+K_XB?m|cb)c%\"></shadow><block type=\"node_global_memory\" id=\"G+-NgNm9!_vok)ut;[!f\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"euXea7.$ppaB,,~[NSq@\"><field name=\"TEXT\">puzzleorder</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"P1DeO=7xcrFuYvLQ)ly7\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"!^D`~.d=F80UOkNY^S$W\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value></block></statement><value name=\"IF2\"><block type=\"logic_compare\" id=\"Y(I}S5SCCVv^}8`c,amu\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\"1`.8XUw:NteXnG/izFKk\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value><value name=\"B\"><block type=\"text\" id=\"I2HA.7/T;H/q*C[Hv@:M\"><field name=\"TEXT\">0ABC</field></block></value></block></value><statement name=\"DO2\"><block type=\"node_object_set\" id=\"4uroAg;pLPl3}EP[l@30\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"v]__Fk}+K_XB?m|cb)c%\"></shadow><block type=\"node_global_memory\" id=\"bf|TRn+([9)L:8e30Euo\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"fX.PMcr2M/*Mt4~I*tAG\"><field name=\"TEXT\">puzzleorder</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"P1DeO=7xcrFuYvLQ)ly7\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"~:-btfDS`8z-9/m*VV;Z\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value></block></statement><value name=\"IF3\"><block type=\"logic_compare\" id=\".GF=[;|Y8cgOwW@aEWc3\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\"6)bp`c:,gWN)ppK^R(k7\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value><value name=\"B\"><block type=\"text\" id=\"YT;}s16P$5|%pp91*IAQ\"><field name=\"TEXT\">0ABCD</field></block></value></block></value><statement name=\"DO3\"><block type=\"node_object_set\" id=\"oU-d3yGa4oL:qpRvqNQ{\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"v]__Fk}+K_XB?m|cb)c%\"></shadow><block type=\"node_global_memory\" id=\"C@FK?uUe;#*7Dg$seYSI\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\";Rvw2@D+KxkPq)h[=hfo\"><field name=\"TEXT\">puzzleorder</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"P1DeO=7xcrFuYvLQ)ly7\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"n$+CmlA:e{;fNPpXA%O~\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value></block></statement><statement name=\"ELSE\"><block type=\"node_object_set\" id=\"kFl-E|?6I[*{V+:j*=WS\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"Gf~Zw8vo^ZeX3y^,=Ca_\"></shadow><block type=\"node_global_memory\" id=\"qbWrTn=Ymq!lG:C/a}T#\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"VLSX~UqOO.`dEC{F`$Mj\"><field name=\"TEXT\">puzzleorder</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Zz3sn`NGGqKssxax15+D\"><field name=\"TEXT\">0</field></shadow></value></block></statement><next><block type=\"node_object_set\" id=\"6#4TqYem#6P*?@7xbA!`\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"xnfHVBqOiv*$a)-h^5/r\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"S~mV=X=j#+RPaOObbHj.\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"(va-18D0.1J:]VrjH*fP\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"d?6ej.,PI$6SKJqE9`UH\"><field name=\"VAR\" id=\"*B!C++ogeY8Lr|=~ncbr\" variabletype=\"\">Order</field></block></value><next><block type=\"controls_if\" id=\")BL^#dtQ,0r9wFqYBO9F\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"%$6@;oBLR3Hcm9F5qZ`v\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\":$b~5h]!T5V4^}H{u19(\"><field name=\"VAR\" id=\"Qf;P.ol_%Q]}gbPyTS6e\" variabletype=\"\">success</field></block></value><value name=\"B\"><block type=\"logic_boolean\" id=\".#QUCD_|].IN(#Hv?(m_\"><field name=\"BOOL\">TRUE</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"/Mr!)ylKSzCiTg1bX}U-\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\")2k^vkOq3N@#wWoI%%CI\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"o.K9ycCP@5[G7${`Drl-\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"||Zl!]/cVcO,6eIY50Wn\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\";cx#|9J/yFT/W$lHU~BH\"><field name=\"VAR\" id=\"Qf;P.ol_%Q]}gbPyTS6e\" variabletype=\"\">success</field></block></value></block></statement><next><block type=\"node_send\" id=\"cu-xJ1Ve4*fjZ|P6}EQg\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"Ffa5[^WZ(%Z1M@_{{f*M\"></shadow></value></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></xml>",
        "outputs": 1,
        "name": "Puzzle lock ABCD",
        "x": 537.9999732971191,
        "y": 341.99999237060547,
        "wires": [
            [
                "4d7875a5.5fa17c"
            ]
        ]
    },
    {
        "id": "1c53a122.79524f",
        "type": "inject",
        "z": "33295a88.eaa786",
        "name": "",
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 260.89994049072266,
        "y": 210.0000057220459,
        "wires": [
            [
                "c1e14007.d8a2b"
            ]
        ]
    },
    {
        "id": "b80116cb.af3148",
        "type": "inject",
        "z": "33295a88.eaa786",
        "name": "",
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 261.89994049072266,
        "y": 277.0000057220459,
        "wires": [
            [
                "c1e14007.d8a2b"
            ]
        ]
    },
    {
        "id": "688c779a.549868",
        "type": "inject",
        "z": "33295a88.eaa786",
        "name": "",
        "topic": "",
        "payload": "C",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 264.89994049072266,
        "y": 353.0000057220459,
        "wires": [
            [
                "c1e14007.d8a2b"
            ]
        ]
    },
    {
        "id": "421a8f25.ecf1c",
        "type": "inject",
        "z": "33295a88.eaa786",
        "name": "",
        "topic": "",
        "payload": "D",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 260.89991760253906,
        "y": 425.0000057220459,
        "wires": [
            [
                "c1e14007.d8a2b"
            ]
        ]
    },
    {
        "id": "e88dd184.4deaf",
        "type": "inject",
        "z": "33295a88.eaa786",
        "name": "reset",
        "topic": "",
        "payload": "puzzleorder",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 266.999942779541,
        "y": 137.00000190734863,
        "wires": [
            [
                "6975ff88.5c72a"
            ]
        ]
    },
    {
        "id": "6975ff88.5c72a",
        "type": "Blockly",
        "z": "33295a88.eaa786",
        "language": "en",
        "func": "global.set('puzzleorder', '0');\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"node_object_set\" id=\"qQ3?TGK_v(|H)4Dq:}FP\" x=\"138\" y=\"112\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"_T[~AYS3(8Lk3//L3#NI\"></shadow><block type=\"node_global_memory\" id=\"ns,^#9;$ehC3{C.D8r5o\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"8#@|8P$^`=B.qRhT)o=r\"><field name=\"TEXT\">puzzleorder</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"dOVOl#KngmV/hjnXItn^\"><field name=\"TEXT\">0</field></shadow></value></block></xml>",
        "outputs": 1,
        "name": "",
        "x": 499.0000190734863,
        "y": 135,
        "wires": [
            []
        ]
    },
    {
        "id": "9d45c716.05d728",
        "type": "inject",
        "z": "e65dc516.c4e21",
        "name": "",
        "topic": "",
        "payload": "game",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 182.10000228881836,
        "y": 736.0000095367432,
        "wires": [
            [
                "de7b313e.a9c4a",
                "5d810052.58d57",
                "3c3010b5.f85ed"
            ]
        ]
    },
    {
        "id": "de7b313e.a9c4a",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "var gameactive;\n\n\nglobal.set('game', true);\ngameactive = (global.get('game'));\nmsg['payload'] = gameactive;\nnode.send([msg]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"%Qs3C=8roS*va(fFkCp/\">gameactive</variable></variables><block type=\"node_object_set\" id=\"*EJX62hpYS}fTU94yFCW\" x=\"87\" y=\"63\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\")nuZ|qVZgdE3@F?A[3+4\"></shadow><block type=\"node_global_memory\" id=\"~4UOU9krn-1B{3;c)W$j\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"+!Ju=r.s^sZ=Na0AYM#a\"><field name=\"TEXT\">game</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"d6H}QtgGE1/vCLbc(pN;\"><field name=\"TEXT\"></field></shadow><block type=\"logic_boolean\" id=\"oJvslUsr_orR?@Fw0@h+\"><field name=\"BOOL\">TRUE</field></block></value><next><block type=\"variables_set\" id=\"}cifJR:dP`~YW;hygt^Z\"><field name=\"VAR\" id=\"%Qs3C=8roS*va(fFkCp/\" variabletype=\"\">gameactive</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"|g5W`.*oI`GGg,}_Vj%t\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"[xOyNYlubv7k3y_E/W@F\"></shadow><block type=\"node_global_memory\" id=\"A_OqbklxI)#E3K|1B88p\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"Y,S31|R9n1/{F@^XMu2N\"><field name=\"TEXT\">game</field></shadow></value></block></value><next><block type=\"node_object_set\" id=\"plgOXfT]O!|uJ$|no_L{\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"Ahf(lv+Yk)FQ_r7ULL`q\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"P80v*Px,zE7KJ,;^?h0u\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"x|MaSb=ENd[,;Ql!7U4b\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"w%M*@lYLo6~Tr[CR4~YH\"><field name=\"VAR\" id=\"%Qs3C=8roS*va(fFkCp/\" variabletype=\"\">gameactive</field></block></value><next><block type=\"node_send\" id=\"/M7^_P2^sIP]PSPjFMx$\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"5qEqZzyu]V::ZBCQr(..\"></shadow></value></block></next></block></next></block></next></block></xml>",
        "outputs": 1,
        "name": "set game True",
        "x": 427.1000061035156,
        "y": 642.0000095367432,
        "wires": [
            [
                "faeb732d.2de7c"
            ]
        ]
    },
    {
        "id": "4e717519.a9d22c",
        "type": "inject",
        "z": "e65dc516.c4e21",
        "name": "",
        "topic": "",
        "payload": "countdown",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 586.0000038146973,
        "y": 1059.0000133514404,
        "wires": [
            [
                "3ef2b3a.fe4c34c"
            ]
        ]
    },
    {
        "id": "3b2b64d3.1d4cec",
        "type": "inject",
        "z": "e65dc516.c4e21",
        "name": "start",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 708.0000038146973,
        "y": 1157.000015258789,
        "wires": [
            [
                "ccfee999.ee2e78"
            ]
        ]
    },
    {
        "id": "5d810052.58d57",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "var player;\n\n\nglobal.set('player1', ({ \"attack\": 10, \"boost\": 2, \"counter\": 15, \"energy\": 30 }));\nplayer = (global.get('player1'));\nglobal.set('p1scan', 0);\nmsg['payload'] = player;\nnode.send([msg]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"%N3)RvhCN44~^^nsV#EK\">player</variable></variables><block type=\"node_object_set\" id=\"3Mm:*^P+]fgmENtDS9it\" x=\"137\" y=\"12\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"X/?/PEfu3_d288Tm]/y_\"></shadow><block type=\"node_global_memory\" id=\"ND+g9jHY#4ZM9a5Yu^#k\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\")o,npS*2@eRs0qW`()Aw\"><field name=\"TEXT\">player1</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"QDrjhn+wbKD?n:8aZZrn\"><field name=\"TEXT\"></field></shadow><block type=\"object_create\" id=\"TDHb7E!O{7bqkfZGGN|+\"><mutation num_fields=\"4\"><field name=\"attack\"></field><field name=\"boost\"></field><field name=\"counter\"></field><field name=\"energy\"></field></mutation><field name=\"field1\">attack</field><field name=\"field2\">boost</field><field name=\"field3\">counter</field><field name=\"field4\">energy</field><value name=\"field_input1\"><block type=\"math_number\" id=\"dkdmbvi[%h=36c{~7LyS\"><field name=\"NUM\">10</field></block></value><value name=\"field_input2\"><block type=\"math_number\" id=\"9fMVK(~G-0X~mmpxNtmF\"><field name=\"NUM\">2</field></block></value><value name=\"field_input3\"><block type=\"math_number\" id=\"CU9uaxn2J.;oWFXnb7i3\"><field name=\"NUM\">15</field></block></value><value name=\"field_input4\"><block type=\"math_number\" id=\"11/wg]:d$TrPszAaZR#s\"><field name=\"NUM\">30</field></block></value></block></value><next><block type=\"variables_set\" id=\")Rht8|,00a6a1-[X+M_X\"><field name=\"VAR\" id=\"%N3)RvhCN44~^^nsV#EK\" variabletype=\"\">player</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"E}Q}l*u^nv{#[3tE.U#e\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"zSUp7yR{qRH:;bO]BMd{\"></shadow><block type=\"node_global_memory\" id=\"T?ioyrnYnhfz}tUp%mpd\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"7~*@mm%,6y`5/6xF4PDt\"><field name=\"TEXT\">player1</field></shadow></value></block></value><next><block type=\"node_object_set\" id=\"~%;4I@/m$xZsCzES^25+\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"04nDCpsBK@~~`xm+|?+v\"></shadow><block type=\"node_global_memory\" id=\"2nQxYri,;3oru:|pD~U)\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"OUlkuV|.L!cTi9+N;-.w\"><field name=\"TEXT\">p1scan</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"a/(^6BKDB0.Y`jJ2S96:\"><field name=\"TEXT\"></field></shadow><block type=\"math_number\" id=\"%y:V[b[vVO8Z0K?FNzw|\"><field name=\"NUM\">0</field></block></value><next><block type=\"node_object_set\" id=\"]2+s60v!{dfH7ozvWBoH\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"%cI~$Hx%VRLu[mnqeK-C\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"8/:.HfzonG$YU0,}J,SF\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Fi.bNL=}VJ*?]4M?o(4!\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"=AXCV%+S@oD(!2vX4k?@\"><field name=\"VAR\" id=\"%N3)RvhCN44~^^nsV#EK\" variabletype=\"\">player</field></block></value><next><block type=\"node_send\" id=\"ux3Wm!.np!edF)oaHu5+\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"/OlZSh-(p,b{o0Y,cQP~\"></shadow></value></block></next></block></next></block></next></block></next></block></xml>",
        "outputs": 1,
        "name": "Create Player 1",
        "x": 435.00000762939453,
        "y": 736.0000114440918,
        "wires": [
            [
                "faeb732d.2de7c"
            ]
        ]
    },
    {
        "id": "3c3010b5.f85ed",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "var player;\n\n\nglobal.set('player2', ({ \"attack\": 10, \"boost\": 2, \"counter\": 15, \"energy\": 30 }));\nplayer = (global.get('player2'));\nglobal.set('p2scan', 0);\nmsg['payload'] = player;\nnode.send([msg, null]);\nnode.send([null, player]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"%N3)RvhCN44~^^nsV#EK\">player</variable></variables><block type=\"node_object_set\" id=\"3Mm:*^P+]fgmENtDS9it\" x=\"113\" y=\"63\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"X/?/PEfu3_d288Tm]/y_\"></shadow><block type=\"node_global_memory\" id=\"ND+g9jHY#4ZM9a5Yu^#k\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\")o,npS*2@eRs0qW`()Aw\"><field name=\"TEXT\">player2</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"QDrjhn+wbKD?n:8aZZrn\"><field name=\"TEXT\"></field></shadow><block type=\"object_create\" id=\"xAC,Z,7El/GcYWekEc84\"><mutation num_fields=\"4\"><field name=\"attack\"></field><field name=\"boost\"></field><field name=\"counter\"></field><field name=\"energy\"></field></mutation><field name=\"field1\">attack</field><field name=\"field2\">boost</field><field name=\"field3\">counter</field><field name=\"field4\">energy</field><value name=\"field_input1\"><block type=\"math_number\" id=\"dkdmbvi[%h=36c{~7LyS\"><field name=\"NUM\">10</field></block></value><value name=\"field_input2\"><block type=\"math_number\" id=\"9fMVK(~G-0X~mmpxNtmF\"><field name=\"NUM\">2</field></block></value><value name=\"field_input3\"><block type=\"math_number\" id=\"CU9uaxn2J.;oWFXnb7i3\"><field name=\"NUM\">15</field></block></value><value name=\"field_input4\"><block type=\"math_number\" id=\"11/wg]:d$TrPszAaZR#s\"><field name=\"NUM\">30</field></block></value></block></value><next><block type=\"variables_set\" id=\")Rht8|,00a6a1-[X+M_X\"><field name=\"VAR\" id=\"%N3)RvhCN44~^^nsV#EK\" variabletype=\"\">player</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"E}Q}l*u^nv{#[3tE.U#e\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"zSUp7yR{qRH:;bO]BMd{\"></shadow><block type=\"node_global_memory\" id=\"T?ioyrnYnhfz}tUp%mpd\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"7~*@mm%,6y`5/6xF4PDt\"><field name=\"TEXT\">player2</field></shadow></value></block></value><next><block type=\"node_object_set\" id=\"~%;4I@/m$xZsCzES^25+\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"04nDCpsBK@~~`xm+|?+v\"></shadow><block type=\"node_global_memory\" id=\"2nQxYri,;3oru:|pD~U)\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"OUlkuV|.L!cTi9+N;-.w\"><field name=\"TEXT\">p2scan</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"a/(^6BKDB0.Y`jJ2S96:\"><field name=\"TEXT\"></field></shadow><block type=\"math_number\" id=\"r)NpGOe~:gg0.,DrKA`o\"><field name=\"NUM\">0</field></block></value><next><block type=\"node_object_set\" id=\"]2+s60v!{dfH7ozvWBoH\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"%cI~$Hx%VRLu[mnqeK-C\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"8/:.HfzonG$YU0,}J,SF\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"Fi.bNL=}VJ*?]4M?o(4!\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"=AXCV%+S@oD(!2vX4k?@\"><field name=\"VAR\" id=\"%N3)RvhCN44~^^nsV#EK\" variabletype=\"\">player</field></block></value><next><block type=\"node_send\" id=\"[;K_V}uL)ec{4Yno(_Ar\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"*h+jN0J[eNS0S!k+/l-A\"></shadow></value><next><block type=\"node_send\" id=\"1OrvC^+W6I-n4glSNqQ/\"><field name=\"OUTPUT_NR\">2</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"p`Dk}hIw|n4LowRqr*Bj\"></shadow><block type=\"variables_get\" id=\"+yqUP]RH*Vg@/9K*2.D-\"><field name=\"VAR\" id=\"%N3)RvhCN44~^^nsV#EK\" variabletype=\"\">player</field></block></value></block></next></block></next></block></next></block></next></block></next></block></xml>",
        "outputs": 2,
        "name": "Create Player 2",
        "x": 438.00000762939453,
        "y": 822.0000123977661,
        "wires": [
            [
                "faeb732d.2de7c"
            ],
            [
                "3224eac1.f3c8d6"
            ]
        ]
    },
    {
        "id": "369982af.1aabae",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "var time;\n\n\ntime = (msg['payload']);\nglobal.set('p1scan', time);\nnode.send([time]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"0n@bO$uognHH,cy--Pez\">time</variable></variables><block type=\"variables_set\" id=\"L*j=0AQ;JIh9Z+Z#0]VZ\" x=\"187\" y=\"87\"><field name=\"VAR\" id=\"0n@bO$uognHH,cy--Pez\" variabletype=\"\">time</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"]0N-a[$%EDr_#du[?iSc\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"c2=H*l2G:@6klnw[M}{I\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"uu(6wf^J:-+ry2JRc_2V\"><field name=\"TEXT\">payload</field></shadow></value></block></value><next><block type=\"node_object_set\" id=\"~%;4I@/m$xZsCzES^25+\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"04nDCpsBK@~~`xm+|?+v\"></shadow><block type=\"node_global_memory\" id=\"2nQxYri,;3oru:|pD~U)\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"OUlkuV|.L!cTi9+N;-.w\"><field name=\"TEXT\">p1scan</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"a/(^6BKDB0.Y`jJ2S96:\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"G9J/xDLo@[(?+C,!ian,\"><field name=\"VAR\" id=\"0n@bO$uognHH,cy--Pez\" variabletype=\"\">time</field></block></value><next><block type=\"node_send\" id=\"mPkMb|Un]$6@u*:5R6`A\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"XTaaJY;i[O_tL1?10SP|\"></shadow><block type=\"variables_get\" id=\"Mx~$3G/n36yz!ZRKhpo(\"><field name=\"VAR\" id=\"0n@bO$uognHH,cy--Pez\" variabletype=\"\">time</field></block></value></block></next></block></next></block></xml>",
        "outputs": 1,
        "name": "change p1scan to payload",
        "x": 1624.0000076293945,
        "y": 722.0000133514404,
        "wires": [
            [
                "34a6927c.e963de"
            ]
        ]
    },
    {
        "id": "34a6927c.e963de",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "var p1, p2;\n\n\np1 = (global.get('p1scan'));\np2 = (global.get('p2scan'));\nif (p1 == 1 && p2 == 2) {\n  msg['payload'] = 'fight';\n} else {\n  msg['payload'] = 'challenge';\n}\nnode.send([msg]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"pl1ir/i#d8ws`Dj3b%ti\">p1</variable><variable type=\"\" id=\"5[?*~7R7yAcK?RSiSSyM\">p2</variable></variables><block type=\"variables_set\" id=\",C0R0k@Q3{m8EcF60H,U\" x=\"37\" y=\"38\"><field name=\"VAR\" id=\"pl1ir/i#d8ws`Dj3b%ti\" variabletype=\"\">p1</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"QJK@:Q,u4xG}=Aa6skb6\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"u7lgrxnoTj%Frb`wY~.C\"></shadow><block type=\"node_global_memory\" id=\"Ab-JGl1210j:U2ffVxn)\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"Zs(OPiJ_ATCbKDA8#+D/\"><field name=\"TEXT\">p1scan</field></shadow></value></block></value><next><block type=\"variables_set\" id=\"#4-mK$@f]sVSp7R4oHih\"><field name=\"VAR\" id=\"5[?*~7R7yAcK?RSiSSyM\" variabletype=\"\">p2</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"|Q2dUFSZ7+zMZ@5(_)Lt\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"WN~$RLkEviX*PV2)~V~8\"></shadow><block type=\"node_global_memory\" id=\"GaE??rlHI(:*$a;RyVjI\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"eoOG~8Ubo;68OTB{5=.{\"><field name=\"TEXT\">p2scan</field></shadow></value></block></value><next><block type=\"controls_if\" id=\"sL:~Br}/k,]aG0pwkzem\"><mutation else=\"1\"></mutation><value name=\"IF0\"><block type=\"logic_operation\" id=\"y07KtbdrI*y3-,7E%A_x\"><field name=\"OP\">AND</field><value name=\"A\"><block type=\"logic_compare\" id=\"PjK0WOjQcCKqEK+h|)H1\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\"O,Pw]e6]iks5=w_xxG}v\"><field name=\"VAR\" id=\"pl1ir/i#d8ws`Dj3b%ti\" variabletype=\"\">p1</field></block></value><value name=\"B\"><block type=\"math_number\" id=\"|6n_LcnH{#DE6RyQa%]Z\"><field name=\"NUM\">1</field></block></value></block></value><value name=\"B\"><block type=\"logic_compare\" id=\"H)`y_ZpPrYo_@+SEvDue\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\"7npEWLB/~5ZAvWsYC4(v\"><field name=\"VAR\" id=\"5[?*~7R7yAcK?RSiSSyM\" variabletype=\"\">p2</field></block></value><value name=\"B\"><block type=\"math_number\" id=\"V+yhvZYRHJy[N3JPDbYp\"><field name=\"NUM\">2</field></block></value></block></value></block></value><statement name=\"DO0\"><block type=\"node_object_set\" id=\"s?Qp:7D-jp}/_(VA2)yW\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"k@yq,_t(JsZC8m4C?XWK\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"IKpI!}7!bqv}`.#(Zg|[\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"zDFa4Qa*KrIJa!dcII5x\"><field name=\"TEXT\">fight</field></shadow></value></block></statement><statement name=\"ELSE\"><block type=\"node_object_set\" id=\"6fQG`ZIGEOA.iG4vZ5_X\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"E%lTptH@5PTs5n)mR,(k\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"H~cn3MfzCsD4uU*~Awum\"><field name=\"TEXT\">payload</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"F|J}-KJ[5LoXb^w`$,B(\"><field name=\"TEXT\">challenge</field></shadow></value></block></statement><next><block type=\"node_send\" id=\"x.T0ugYqidhlYaLN%wQ,\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"sa|=1NOOF3)ABa5iiTBi\"></shadow></value></block></next></block></next></block></next></block></xml>",
        "outputs": 1,
        "name": "",
        "x": 1859.0000114440918,
        "y": 767.0000152587891,
        "wires": [
            []
        ]
    },
    {
        "id": "9e45418.aca74c",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "var time;\n\n\ntime = (msg['payload']);\nglobal.set('p1scan', time);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"0n@bO$uognHH,cy--Pez\">time</variable></variables><block type=\"variables_set\" id=\"L*j=0AQ;JIh9Z+Z#0]VZ\" x=\"188\" y=\"37\"><field name=\"VAR\" id=\"0n@bO$uognHH,cy--Pez\" variabletype=\"\">time</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"]0N-a[$%EDr_#du[?iSc\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"c2=H*l2G:@6klnw[M}{I\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"uu(6wf^J:-+ry2JRc_2V\"><field name=\"TEXT\">payload</field></shadow></value></block></value><next><block type=\"node_object_set\" id=\"~%;4I@/m$xZsCzES^25+\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"04nDCpsBK@~~`xm+|?+v\"></shadow><block type=\"node_global_memory\" id=\"2nQxYri,;3oru:|pD~U)\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"OUlkuV|.L!cTi9+N;-.w\"><field name=\"TEXT\">p1scan</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"a/(^6BKDB0.Y`jJ2S96:\"><field name=\"TEXT\"></field></shadow><block type=\"variables_get\" id=\"0D+k[ymR[%+.l6rz*:Es\"><field name=\"VAR\" id=\"0n@bO$uognHH,cy--Pez\" variabletype=\"\">time</field></block></value></block></next></block></xml>",
        "outputs": 1,
        "name": "change p2scan to payload",
        "x": 1614.0000076293945,
        "y": 803.0000152587891,
        "wires": [
            [
                "34a6927c.e963de"
            ]
        ]
    },
    {
        "id": "faeb732d.2de7c",
        "type": "debug",
        "z": "e65dc516.c4e21",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 698.0000076293945,
        "y": 717.0000095367432,
        "wires": []
    },
    {
        "id": "bd741f2f.36f68",
        "type": "debug",
        "z": "e65dc516.c4e21",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 884.0000114440918,
        "y": 878.0000133514404,
        "wires": []
    },
    {
        "id": "3224eac1.f3c8d6",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "node.send([(msg['health'])]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"node_send\" id=\"b}}8Ax_jNkt8k^/T2[6P\" x=\"163\" y=\"162\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"QXN8jB=Fdc6un}hWuAh`\"></shadow><block type=\"node_object_get\" id=\"xQMBVD;T,/_M_Kv5B3Q*\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"PU4_RBW^G-MN]-b0YPgX\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"b9+jwUo9(FQ57[U1wECb\"><field name=\"TEXT\">health</field></shadow></value></block></value></block></xml>",
        "outputs": 1,
        "name": "",
        "x": 632.1000595092773,
        "y": 874.0000133514404,
        "wires": [
            [
                "bd741f2f.36f68"
            ]
        ]
    },
    {
        "id": "3ef2b3a.fe4c34c",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "global.set('countdown', '60');\nnode.send([(msg['countdown'])]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"node_object_set\" id=\"T9W),?|+{-u+msK8xAem\" x=\"238\" y=\"88\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"E.(NsoL2m`?Ur]^W6BWb\"></shadow><block type=\"node_global_memory\" id=\"HrdfKx8!JD_a#G3R[*H_\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"F%bGwxB_R4;3TJJR!+_z\"><field name=\"TEXT\">countdown</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"FZ]oTdE3APe0AuCjD`e6\"><field name=\"TEXT\">60</field></shadow></value><next><block type=\"node_send\" id=\"TU^I_beM,48|Nj~]NpBJ\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"Z!G./Je1843hlNrxRmin\"></shadow><block type=\"node_object_get\" id=\"-UiqHqS^FFcJ^;lElJwF\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"BV`.WHy1q@cf]tZwUbB-\"></shadow></value><value name=\"field_name\"><shadow type=\"text\" id=\"GieX=MCkAmrhT74I94x6\"><field name=\"TEXT\">countdown</field></shadow></value></block></value></block></next></block></xml>",
        "outputs": 1,
        "name": "",
        "x": 792.1000595092773,
        "y": 1065.000015258789,
        "wires": [
            [
                "e3d776ef.956588"
            ]
        ]
    },
    {
        "id": "ccfee999.ee2e78",
        "type": "Blockly",
        "z": "e65dc516.c4e21",
        "language": "en",
        "func": "var times;\n\n\ntimes = (global.get('countdown'));\nglobal.set('countdown', (times - 1));\nnode.send([times]);\n",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"-WHYZfn:~;5Q[?zh|PM9\">times</variable></variables><block type=\"variables_set\" id=\"~Ll[cZ##[xuA#lrRoUi6\" x=\"162\" y=\"63\"><field name=\"VAR\" id=\"-WHYZfn:~;5Q[?zh|PM9\" variabletype=\"\">times</field><value name=\"VALUE\"><block type=\"node_object_get\" id=\"X_lcXLBelg]oyK%w:o=0\"><mutation action=\"GET\"></mutation><field name=\"action\">GET</field><value name=\"object\"><shadow type=\"node_msg\" id=\"9?IL+J1kv-Z{R/40(/)x\"></shadow><block type=\"node_global_memory\" id=\"kpp,lE[{#ul8^TygtrhB\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"%p[S*u]k~VNWi:yIhvdp\"><field name=\"TEXT\">countdown</field></shadow></value></block></value><next><block type=\"node_object_set\" id=\"vQ.vY2ECgEcQ=@0cHJlv\"><value name=\"object_field\"><shadow type=\"node_msg\" id=\"+8o}%ESpzFk1nmi?L?xq\"></shadow><block type=\"node_global_memory\" id=\"PcHNBss~;%7W%_I%{Sc#\"></block></value><value name=\"field_name\"><shadow type=\"text\" id=\"umxDBzTPD8tz*]`Vhgz1\"><field name=\"TEXT\">countdown</field></shadow></value><value name=\"value_field\"><shadow type=\"text\" id=\"K/e!3+djKZCQGfH7bW:O\"><field name=\"TEXT\"></field></shadow><block type=\"math_arithmetic\" id=\"yA)M;tHoB7u~ZpT(aR0Q\"><field name=\"OP\">MINUS</field><value name=\"A\"><shadow type=\"math_number\" id=\"+EVxWus4KpXgpzDqgEoZ\"><field name=\"NUM\">1</field></shadow><block type=\"variables_get\" id=\"d05~4dBA]/3R9e@gcxyL\"><field name=\"VAR\" id=\"-WHYZfn:~;5Q[?zh|PM9\" variabletype=\"\">times</field></block></value><value name=\"B\"><shadow type=\"math_number\" id=\"3Rtn^hDI#@ew?cm-Gs)M\"><field name=\"NUM\">1</field></shadow></value></block></value><next><block type=\"node_send\" id=\"/+~$p,?188em,kh(Rb+_\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"?4vW(CUfmLe}Qtl4E-mI\"></shadow><block type=\"variables_get\" id=\"{hVqfL6un)1i+30*cOT_\"><field name=\"VAR\" id=\"-WHYZfn:~;5Q[?zh|PM9\" variabletype=\"\">times</field></block></value></block></next></block></next></block></xml>",
        "outputs": 1,
        "name": "",
        "x": 957.1000137329102,
        "y": 1124.000015258789,
        "wires": [
            [
                "3886e3ce.45d16c"
            ]
        ]
    },
    {
        "id": "3886e3ce.45d16c",
        "type": "debug",
        "z": "e65dc516.c4e21",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1187.0999755859375,
        "y": 1121.5999755859375,
        "wires": []
    },
    {
        "id": "e3d776ef.956588",
        "type": "debug",
        "z": "e65dc516.c4e21",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1016.0999755859375,
        "y": 1066.5999755859375,
        "wires": []
    },
    {
        "id": "34ce5557.cb7f0a",
        "type": "mqtt out",
        "z": "3c0e296d.ea2856",
        "name": "send to mqtt.thegame.folly.site",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "fa3d25ac.e5f148",
        "x": 482.5,
        "y": 143.00003051757812,
        "wires": []
    },
    {
        "id": "2cfb5a0e.617e16",
        "type": "subflow:3c0e296d.ea2856",
        "z": "92d480a1.db57d",
        "name": "",
        "env": [
            {
                "name": "node",
                "type": "str",
                "value": "zero-1"
            },
            {
                "name": "sound",
                "type": "str",
                "value": "/home/pi/convictshope/HeroTwinkle/short-twinkle.wav"
            }
        ],
        "x": 550.25,
        "y": 1013,
        "wires": []
    },
    {
        "id": "e6da9ccf.f4532",
        "type": "function",
        "z": "3c0e296d.ea2856",
        "name": "",
        "func": "\nif (msg.node === undefined || msg.node === \"\") {\n    msg.node = env.get('node')\n}\nif (msg.sound === undefined || msg.sound === \"\") {\n    msg.sound = env.get('sound')\n}\n\n\nif (msg.topic === undefined || msg.topic === \"\") {\n    msg.topic = msg.node\n}\n// change msg.topic to end in \"/audio/play\"\nwords = msg.topic.split(\"/\")\nmsg.topic = words[0]+\"/audio/play\"\n\nif (typeof(msg.payload) != \"object\") {\n    if (typeof(msg.payload) == \"string\") {\n        msg.sound = msg.payload\n    }\n}\nmsg.orig = msg.payload\nmsg.payload = {\n    \"sound\": msg.sound\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 226.50001525878906,
        "y": 101.0000228881836,
        "wires": [
            [
                "34ce5557.cb7f0a",
                "3e5fcac2.3cee26"
            ]
        ]
    },
    {
        "id": "3e5fcac2.3cee26",
        "type": "debug",
        "z": "3c0e296d.ea2856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 414.5,
        "y": 71.0000228881836,
        "wires": []
    },
    {
        "id": "22e67eec.664c2a",
        "type": "inject",
        "z": "92d480a1.db57d",
        "name": "trigger using msg.node and msg.sound",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 285,
        "y": 1142,
        "wires": [
            [
                "8e7d21b9.d445c8"
            ]
        ]
    },
    {
        "id": "21660fdd.89bff",
        "type": "subflow:3c0e296d.ea2856",
        "z": "92d480a1.db57d",
        "name": "",
        "env": [
            {
                "name": "node",
                "type": "str",
                "value": ""
            },
            {
                "name": "sound",
                "type": "str",
                "value": ""
            }
        ],
        "x": 756.75,
        "y": 1153,
        "wires": []
    },
    {
        "id": "8e7d21b9.d445c8",
        "type": "change",
        "z": "92d480a1.db57d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "node",
                "pt": "msg",
                "to": "zero-1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sound",
                "pt": "msg",
                "to": "/home/pi/1819/sounds/Dueling/Failure.wav",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 581.5,
        "y": 1151,
        "wires": [
            [
                "21660fdd.89bff"
            ]
        ]
    },
    {
        "id": "965de268.8d9a18",
        "type": "inject",
        "z": "92d480a1.db57d",
        "name": "trigger sound set on \"play sound\" node",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 282,
        "y": 1019,
        "wires": [
            [
                "2cfb5a0e.617e16"
            ]
        ]
    },
    {
        "id": "96e27c1f.aafde",
        "type": "inject",
        "z": "92d480a1.db57d",
        "name": "trigger using payload and topic in trigger",
        "topic": "zero-1/audio/play",
        "payload": "{\"sound\":\"/usr/share/scratch/Media/Sounds/Effects/DoorCreak.wav\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 292,
        "y": 1076,
        "wires": [
            [
                "29d302ae.b243c6"
            ]
        ]
    },
    {
        "id": "29d302ae.b243c6",
        "type": "subflow:3c0e296d.ea2856",
        "z": "92d480a1.db57d",
        "name": "",
        "env": [
            {
                "name": "node",
                "type": "str",
                "value": ""
            },
            {
                "name": "sound",
                "type": "str",
                "value": ""
            }
        ],
        "x": 563.75,
        "y": 1075,
        "wires": []
    },
    {
        "id": "71665d8d.c3cfa4",
        "type": "subflow:2b493f5b.793ad8",
        "z": "92d480a1.db57d",
        "name": "RFID tag read",
        "env": [],
        "x": 190,
        "y": 1250,
        "wires": [
            [
                "6ca2e73.19dc998"
            ]
        ]
    },
    {
        "id": "6ca2e73.19dc998",
        "type": "switch",
        "z": "92d480a1.db57d",
        "name": "",
        "property": "payload.tag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "550A5CBC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 355.5,
        "y": 1251,
        "wires": [
            [
                "b6e1343f.152a28",
                "2cfb5a0e.617e16"
            ]
        ]
    },
    {
        "id": "b6e1343f.152a28",
        "type": "debug",
        "z": "92d480a1.db57d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 574.5,
        "y": 1301,
        "wires": []
    },
    {
        "id": "408af22.64a9f8c",
        "type": "switch",
        "z": "7f80a2cf.94a544",
        "name": "",
        "property": "node",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 548.4999542236328,
        "y": 515,
        "wires": [
            [
                "52b140b0.b149e8"
            ]
        ]
    },
    {
        "id": "a346432c.43edc8",
        "type": "subflow:3c0e296d.ea2856",
        "z": "7f80a2cf.94a544",
        "name": "",
        "x": 922.4999542236328,
        "y": 517,
        "wires": []
    },
    {
        "id": "52b140b0.b149e8",
        "type": "change",
        "z": "7f80a2cf.94a544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "allnodes_playsound",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 716.4999542236328,
        "y": 514.0000305175781,
        "wires": [
            [
                "a346432c.43edc8",
                "432135a4.71d36c"
            ]
        ]
    },
    {
        "id": "f5ac33d.1a1add",
        "type": "ui_dropdown",
        "z": "7f80a2cf.94a544",
        "name": "",
        "label": "Debug Sound",
        "tooltip": "",
        "place": "Select option",
        "group": "b5740beb.c122",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "Dueling/Boost.wav",
                "type": "str"
            },
            {
                "label": "",
                "value": "Dueling/Podium Ready.mp3",
                "type": "str"
            },
            {
                "label": "",
                "value": "Dueling/Magic Detected.mp3",
                "type": "str"
            },
            {
                "label": "",
                "value": "Dueling/ATK - Lightning.wav",
                "type": "str"
            },
            {
                "label": "",
                "value": "Dueling/Disable.wav",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 508,
        "y": 271.0000305175781,
        "wires": [
            [
                "e3fcc45c.4b105"
            ]
        ]
    },
    {
        "id": "e3fcc45c.4b105",
        "type": "function",
        "z": "7f80a2cf.94a544",
        "name": "save sound for play button",
        "func": "\n\nflow.set('allnodes_playsound', msg.payload);\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 730.5,
        "y": 284.0000305175781,
        "wires": [
            []
        ],
        "outputLabels": [
            "tagCount"
        ]
    },
    {
        "id": "c7b57ed2.dd7818",
        "type": "mqtt in",
        "z": "7f80a2cf.94a544",
        "name": "Node requests config",
        "topic": "+/deployment/requestconfig",
        "qos": "2",
        "datatype": "auto",
        "broker": "fa3d25ac.e5f148",
        "x": 248.8000030517578,
        "y": 85.19999694824219,
        "wires": [
            [
                "690b96e6.3346d8",
                "c689eab7.c3792"
            ]
        ]
    },
    {
        "id": "690b96e6.3346d8",
        "type": "json",
        "z": "7f80a2cf.94a544",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 438.79998779296875,
        "y": 80.19999694824219,
        "wires": [
            [
                "3bc341d8.98418e"
            ]
        ]
    },
    {
        "id": "c689eab7.c3792",
        "type": "debug",
        "z": "7f80a2cf.94a544",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 867.5,
        "y": 31.399993896484375,
        "wires": []
    },
    {
        "id": "f25f893f.c910a8",
        "type": "mqtt out",
        "z": "7f80a2cf.94a544",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "fa3d25ac.e5f148",
        "x": 810.5,
        "y": 110.39999389648438,
        "wires": []
    },
    {
        "id": "3bc341d8.98418e",
        "type": "change",
        "z": "7f80a2cf.94a544",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.config",
                "pt": "msg",
                "to": "{\"deployments\":{\"megagame\":{\"ping\":{\"type\":\"ping\"}}},\"hosts\":{\"go\":{\"type\":\"megagame\"}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "go/deployment/update_config",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 605.5,
        "y": 82.59999084472656,
        "wires": [
            [
                "f25f893f.c910a8",
                "c689eab7.c3792"
            ]
        ]
    },
    {
        "id": "bde26575.3e0b68",
        "type": "ui_dropdown",
        "z": "92d480a1.db57d",
        "name": "",
        "label": "XP remove node",
        "tooltip": "The selected node will be the one that increases the XP",
        "place": "Select option",
        "group": "ff553633.808228",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 1057,
        "y": 487.0833435058594,
        "wires": [
            [
                "43c57fd5.7f7368"
            ]
        ]
    },
    {
        "id": "43c57fd5.7f7368",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "set node chosen to be the decrementor",
        "func": "\n\nflow.set('xp-decrementor', msg.payload);\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1313,
        "y": 486.0833435058594,
        "wires": [
            []
        ],
        "outputLabels": [
            "tagCount"
        ]
    },
    {
        "id": "551d94f.581126c",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "select the node to decrement the XP",
        "func": "\nvar def = flow.get('xp-decrementor') || \"\";\n\nvar nodes = []\nfor (const x of msg.payload) {\n    nodes.push(x.name)\n}\n\nreturn {payload: def, options: nodes};",
        "outputs": 1,
        "noerr": 0,
        "x": 813,
        "y": 488.0833435058594,
        "wires": [
            [
                "bde26575.3e0b68"
            ]
        ],
        "outputLabels": [
            "tagCount"
        ]
    },
    {
        "id": "30b39734.7b228",
        "type": "mongodb-node",
        "z": "92d480a1.db57d",
        "mongodb": "82a69951.ff1f48",
        "name": "",
        "collection": "nodes",
        "operation": "find",
        "upsert": false,
        "multi": false,
        "x": 510.83331298828125,
        "y": 487.0833435058594,
        "wires": [
            [
                "3424f6ac.a5447a",
                "551d94f.581126c",
                "c26090bb.f170d8"
            ]
        ]
    },
    {
        "id": "434cd304.1fdaf4",
        "type": "inject",
        "z": "92d480a1.db57d",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 297.83331298828125,
        "y": 487.0833435058594,
        "wires": [
            [
                "30b39734.7b228"
            ]
        ]
    },
    {
        "id": "c734dd39.687f4",
        "type": "ui_dropdown",
        "z": "92d480a1.db57d",
        "name": "",
        "label": "XP reset node",
        "tooltip": "The selected node will be the one that increases the XP",
        "place": "Select option",
        "group": "ff553633.808228",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 1051.5,
        "y": 446.0833435058594,
        "wires": [
            [
                "e75dfc60.f6ff9"
            ]
        ]
    },
    {
        "id": "e75dfc60.f6ff9",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "set node chosen to be the reset",
        "func": "\n\nflow.set('xp-reset', msg.payload);\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1287.5,
        "y": 445.0833435058594,
        "wires": [
            []
        ],
        "outputLabels": [
            "tagCount"
        ]
    },
    {
        "id": "c26090bb.f170d8",
        "type": "function",
        "z": "92d480a1.db57d",
        "name": "select the node to reset the XP",
        "func": "\nvar def = flow.get('xp-reset') || \"\";\n\nvar nodes = []\nfor (const x of msg.payload) {\n    nodes.push(x.name)\n}\n\nreturn {payload: def, options: nodes};",
        "outputs": 1,
        "noerr": 0,
        "x": 787.5,
        "y": 447.0833435058594,
        "wires": [
            [
                "c734dd39.687f4"
            ]
        ],
        "outputLabels": [
            "tagCount"
        ]
    },
    {
        "id": "791dbcc1.768974",
        "type": "Blockly",
        "z": "92d480a1.db57d",
        "language": "en",
        "func": "",
        "workspaceXml": "<xml xmlns=\"http://www.w3.org/1999/xhtml\"></xml>",
        "outputs": 1,
        "name": "",
        "x": 1640.0999755859375,
        "y": 782,
        "wires": [
            []
        ]
    },
    {
        "id": "80378dd3.d5c27",
        "type": "inject",
        "z": "2f52aa5f.783a96",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 195.10000228881836,
        "y": 241.00000381469727,
        "wires": [
            [
                "71bcec7e.7179b4"
            ]
        ]
    },
    {
        "id": "a4d08376.4a582",
        "type": "delay",
        "z": "2f52aa5f.783a96",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 337.10000228881836,
        "y": 360.0000057220459,
        "wires": [
            []
        ]
    },
    {
        "id": "92f68171.4c06a",
        "type": "ui_gauge",
        "z": "2f52aa5f.783a96",
        "name": "",
        "group": "ff553633.808228",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3600",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 303.1000061035156,
        "y": 569.6000366210938,
        "wires": []
    },
    {
        "id": "6eaec67c.3e03c8",
        "type": "subflow:3c0e296d.ea2856",
        "z": "2f52aa5f.783a96",
        "name": "",
        "env": [],
        "x": 575.1000366210938,
        "y": 416,
        "wires": []
    },
    {
        "id": "1e3a94b9.ff8fcb",
        "type": "inject",
        "z": "33295a88.eaa786",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 189.10000610351562,
        "y": 818,
        "wires": [
            []
        ]
    },
    {
        "id": "71bcec7e.7179b4",
        "type": "timerswitch",
        "z": "2f52aa5f.783a96",
        "name": "",
        "ontopic": "",
        "offtopic": "",
        "onpayload": "",
        "offpayload": "",
        "disabled": false,
        "schedules": [
            {
                "on_h": "01",
                "on_m": "00",
                "on_s": "00",
                "off_h": "00",
                "off_m": "00",
                "off_s": "00",
                "valid": true
            }
        ],
        "x": 500.50000762939453,
        "y": 252.0000057220459,
        "wires": [
            [
                "8030c8d2.9a33b8"
            ]
        ]
    },
    {
        "id": "8030c8d2.9a33b8",
        "type": "debug",
        "z": "2f52aa5f.783a96",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 780.1000366210938,
        "y": 241,
        "wires": []
    },
    {
        "id": "652d475.bd7e238",
        "type": "mqtt out",
        "z": "db41a3ab.552bb8",
        "name": "send to mqtt.thegame.folly.site",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "fa3d25ac.e5f148",
        "x": 419.9999694824219,
        "y": 127.08333587646484,
        "wires": []
    },
    {
        "id": "5eb918bd.685d38",
        "type": "function",
        "z": "db41a3ab.552bb8",
        "name": "",
        "func": "\nif (msg.node === undefined || msg.node === \"\") {\n    msg.node = env.get('node')\n}\nif (msg.device === undefined || msg.device === \"\") {\n    msg.device = env.get('device')\n}\nif (msg.operation === undefined || msg.operation === \"\") {\n    msg.operation = env.get('operation')\n}\nif (msg.colour === undefined || msg.colour === \"\") {\n    msg.colour = env.get('colour')\n}\nif (msg.count === undefined || msg.count === \"\") {\n    msg.count = env.get('count')\n}\n\nif (msg.topic === undefined || msg.topic === \"\") {\n    msg.topic = msg.node\n}\n// change msg.topic to end in \"/audio/play\"\nwords = msg.topic.split(\"/\")\nmsg.topic = words[0]+\"/\"+msg.device+\"/play\"\n\nif (typeof(msg.payload) != \"object\") {\n    if (typeof(msg.payload) == \"string\") {\n        msg.sound = msg.payload\n    }\n}\nmsg.orig = msg.payload\nmsg.payload = {\n    \"operation\": msg.operation,\n    \"colour\": msg.colour,\n    \"count\": msg.count\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 163.99998474121094,
        "y": 85.08332824707031,
        "wires": [
            [
                "652d475.bd7e238",
                "1e5ca5bd.74a622"
            ]
        ]
    },
    {
        "id": "1e5ca5bd.74a622",
        "type": "debug",
        "z": "db41a3ab.552bb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 351.9999694824219,
        "y": 55.08332824707031,
        "wires": []
    },
    {
        "id": "432135a4.71d36c",
        "type": "subflow:db41a3ab.552bb8",
        "z": "7f80a2cf.94a544",
        "name": "",
        "env": [
            {
                "name": "operation",
                "type": "str",
                "value": "theatrechase"
            }
        ],
        "x": 901.1667022705078,
        "y": 580.5000152587891,
        "wires": []
    },
    {
        "id": "4fd787f5.4e9c6",
        "type": "function",
        "z": "7f80a2cf.94a544",
        "name": "selected debug sound",
        "func": "\nvar def = flow.get('allnodes_playsound') || \"\";\n\n//var nodes = []\n//for (const x of msg.payload) {\n//    nodes.push(x.name)\n//}\n//return {payload: def, options: nodes};\nreturn {payload: def};",
        "outputs": 1,
        "noerr": 0,
        "x": 305.08331298828125,
        "y": 269.0833435058594,
        "wires": [
            [
                "f5ac33d.1a1add"
            ]
        ],
        "outputLabels": [
            "tagCount"
        ]
    },
    {
        "id": "b3b14434.51a408",
        "type": "inject",
        "z": "7f80a2cf.94a544",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 91.16665649414062,
        "y": 267.25001525878906,
        "wires": [
            [
                "4fd787f5.4e9c6"
            ]
        ]
    }
]