projects/RedFolly/flows/WIFI Management.json
[
  {
    "id": "536dcc6d.5fb21c",
    "type": "tab",
    "label": "WIFI Management",
    "disabled": false,
    "info": ""
  },
  {
    "id": "55380153.f50d18",
    "type": "exec",
    "z": "536dcc6d.5fb21c",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "scan",
    "x": 470,
    "y": 220,
    "wires": [
      [
        "c3656aea.289318"
      ],
      [],
      []
    ]
  },
  {
    "id": "c3656aea.289318",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "parseOptions",
    "func": "var ssids = msg.payload.split('\\n').filter(s => !!s)\n\nssids = [...new Set(ssids)];\n\nmsg.options = ssids\nmsg.payload = null\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 140,
    "wires": [
      [
        "e0d2f641.c7f6a"
      ]
    ]
  },
  {
    "id": "19b4ca37.09314e",
    "type": "inject",
    "z": "536dcc6d.5fb21c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 40,
    "wires": [
      [
        "25d55a20.babfd6",
        "8f8df13.4cb929",
        "b325b9d7.2a0a6",
        "c0d6c34e.25dbc8"
      ]
    ]
  },
  {
    "id": "e0d2f641.c7f6a",
    "type": "ui_dropdown",
    "z": "536dcc6d.5fb21c",
    "name": "",
    "label": "Wifi",
    "tooltip": "",
    "place": "Select a WIFI",
    "group": "eca98165.f686d8",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "",
    "x": 790,
    "y": 140,
    "wires": [
      [
        "ca8c9f7e.f249"
      ]
    ]
  },
  {
    "id": "6c13006a.6ba7a",
    "type": "ui_button",
    "z": "536dcc6d.5fb21c",
    "name": "",
    "group": "eca98165.f686d8",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Scan",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 130,
    "y": 260,
    "wires": [
      [
        "b325b9d7.2a0a6",
        "c0d6c34e.25dbc8"
      ]
    ]
  },
  {
    "id": "2b5e9b79.aa89cc",
    "type": "ui_ui_control",
    "z": "536dcc6d.5fb21c",
    "name": "onTab",
    "events": "all",
    "x": 110,
    "y": 140,
    "wires": [
      [
        "16a864e.6599e9b"
      ]
    ]
  },
  {
    "id": "16a864e.6599e9b",
    "type": "switch",
    "z": "536dcc6d.5fb21c",
    "name": "ifWifi",
    "property": "name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Wifi",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 130,
    "y": 180,
    "wires": [
      [
        "25d55a20.babfd6",
        "b325b9d7.2a0a6",
        "c0d6c34e.25dbc8"
      ]
    ]
  },
  {
    "id": "14970b96.4b2bd4",
    "type": "exec",
    "z": "536dcc6d.5fb21c",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "getInfo",
    "x": 570,
    "y": 460,
    "wires": [
      [
        "bb4a70a3.75288",
        "4f8e1f28.056ce"
      ],
      [],
      []
    ]
  },
  {
    "id": "bb4a70a3.75288",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "parseInfo",
    "func": "var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nnode.send({topic: 'ip', payload: ip})\n\nvar ipv6 = msg.payload.match(/inet6 ([a-f0-9\\:\\.]+)/)[1]\nnode.send({topic: 'ipv6', payload: ipv6})\n\nnode.send({topic: 'tailscale', payload: \"todo\"})\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 680,
    "y": 400,
    "wires": [
      [
        "6acfc734.29d58"
      ]
    ]
  },
  {
    "id": "6acfc734.29d58",
    "type": "switch",
    "z": "536dcc6d.5fb21c",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ip",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ipv6",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "tailscale",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 750,
    "y": 460,
    "wires": [
      [
        "6176c0f1.b9b96"
      ],
      [
        "1f8ed440.1b6d8c"
      ],
      [
        "465c0a12.6b5fb4"
      ]
    ]
  },
  {
    "id": "6176c0f1.b9b96",
    "type": "ui_text",
    "z": "536dcc6d.5fb21c",
    "group": "570fea41.3f7ebc",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "IP",
    "format": "{{msg.payload || '---'}}",
    "layout": "row-spread",
    "x": 890,
    "y": 420,
    "wires": []
  },
  {
    "id": "1f8ed440.1b6d8c",
    "type": "ui_text",
    "z": "536dcc6d.5fb21c",
    "group": "570fea41.3f7ebc",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "ipv6",
    "format": "{{msg.payload || '---'}}",
    "layout": "row-spread",
    "x": 890,
    "y": 460,
    "wires": []
  },
  {
    "id": "465c0a12.6b5fb4",
    "type": "ui_text",
    "z": "536dcc6d.5fb21c",
    "group": "570fea41.3f7ebc",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "tailscale",
    "format": "{{msg.payload || '---'}}",
    "layout": "row-spread",
    "x": 900,
    "y": 500,
    "wires": []
  },
  {
    "id": "87bd3ec.af19ac",
    "type": "ui_form",
    "z": "536dcc6d.5fb21c",
    "name": "",
    "label": "Update",
    "group": "eca98165.f686d8",
    "order": 3,
    "width": 0,
    "height": 0,
    "options": [
      {
        "label": "SSID",
        "value": "ssid",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Password",
        "value": "password",
        "type": "password",
        "required": true,
        "rows": null
      }
    ],
    "formValue": {
      "ssid": "",
      "password": ""
    },
    "payload": "",
    "submit": "UPDATE",
    "cancel": "RESET",
    "topic": "",
    "x": 640,
    "y": 206,
    "wires": [
      [
        "dc7ef16d.ce6908"
      ]
    ]
  },
  {
    "id": "ca8c9f7e.f249",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "",
    "func": "\nmsg.payload = {ssid: msg.payload}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 930,
    "y": 153,
    "wires": [
      [
        "87bd3ec.af19ac"
      ]
    ]
  },
  {
    "id": "dc7ef16d.ce6908",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "getPassphrase",
    "func": "var data = msg.payload\n\nvar command = `wpa_passphrase \"${data.ssid}\" \"${data.password}\" | sed '/#psk=\".*\"/d'`\n \nmsg.payload = command\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 840,
    "y": 206,
    "wires": [
      [
        "d1a2b473.3f006"
      ]
    ]
  },
  {
    "id": "d1a2b473.3f006",
    "type": "exec",
    "z": "536dcc6d.5fb21c",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "",
    "x": 1001,
    "y": 206,
    "wires": [
      [
        "bd5d7071.bc4a78"
      ],
      [],
      []
    ]
  },
  {
    "id": "bd5d7071.bc4a78",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "updateWpasupplicant",
    "func": "var template = `sudo tee /etc/wpa_supplicant/wpa_supplicant.conf <<EOF\nctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=IT\n\n${msg.payload}\nEOF\\n\n`\n\nmsg.payload = template\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1200,
    "y": 199,
    "wires": [
      [
        "3150df6d.fd9cc8"
      ]
    ]
  },
  {
    "id": "3150df6d.fd9cc8",
    "type": "exec",
    "z": "536dcc6d.5fb21c",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "updateConf",
    "x": 690,
    "y": 300,
    "wires": [
      [
        "a9695a79.ed68c8",
        "3eaf3e20.b78d32"
      ],
      [],
      []
    ]
  },
  {
    "id": "a9695a79.ed68c8",
    "type": "exec",
    "z": "536dcc6d.5fb21c",
    "command": "sudo wpa_cli -i wlan0 reconfigure",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "reconfigure",
    "x": 870,
    "y": 320,
    "wires": [
      [
        "3eaf3e20.b78d32"
      ],
      [],
      []
    ]
  },
  {
    "id": "3eaf3e20.b78d32",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "showMessage",
    "func": "\nmsg.payload = msg.payload.trim() === 'OK' ? \"Wifi configuration updated successfully\" : \"Error while updating wifi configuration\"\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1070,
    "y": 274,
    "wires": [
      [
        "d9386bd6.27b728"
      ]
    ]
  },
  {
    "id": "d9386bd6.27b728",
    "type": "ui_toast",
    "z": "536dcc6d.5fb21c",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 1140,
    "y": 340,
    "wires": []
  },
  {
    "id": "a9aeb474.470e48",
    "type": "ui_button",
    "z": "536dcc6d.5fb21c",
    "name": "",
    "group": "90e71fd9.6730c8",
    "order": 1,
    "width": "0",
    "height": "0",
    "passthru": false,
    "label": "Back",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "arrow_back",
    "payload": "Menu",
    "payloadType": "str",
    "topic": "",
    "x": 90,
    "y": 100,
    "wires": [
      [
        "2b5e9b79.aa89cc"
      ]
    ]
  },
  {
    "id": "25d55a20.babfd6",
    "type": "exec",
    "z": "536dcc6d.5fb21c",
    "command": "iwgetid",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "getCurrentSSID",
    "x": 440,
    "y": 40,
    "wires": [
      [
        "90d3b8a9.760a68"
      ],
      [],
      []
    ]
  },
  {
    "id": "44982780.a38538",
    "type": "ui_text",
    "z": "536dcc6d.5fb21c",
    "group": "570fea41.3f7ebc",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "SSID",
    "format": "{{msg.payload || '---'}}",
    "layout": "row-spread",
    "x": 770,
    "y": 40,
    "wires": []
  },
  {
    "id": "90d3b8a9.760a68",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "parseInfo",
    "func": "var ssid = msg.payload.match(/ESSID:\"([^\"]+)\"/)[1]\n\n\nnode.send({topic: 'ssid', payload: ssid})\n",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 40,
    "wires": [
      [
        "44982780.a38538"
      ]
    ]
  },
  {
    "id": "8f8df13.4cb929",
    "type": "exec",
    "z": "536dcc6d.5fb21c",
    "command": "iwconfig 2>/dev/null | sed 's/ .*//g' | uniq",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "scan",
    "x": 290,
    "y": 640,
    "wires": [
      [
        "ea99dd8c.a2acf"
      ],
      [],
      []
    ]
  },
  {
    "id": "ea99dd8c.a2acf",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "parseOptions",
    "func": "var devices = msg.payload.split('\\n').filter(s => !!s)\n\ndevices = [...new Set(devices)];\n\nmsg.options = devices\nmsg.payload = devices[0]\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 430,
    "y": 620,
    "wires": [
      [
        "27e1cb34.e56fdc"
      ]
    ]
  },
  {
    "id": "27e1cb34.e56fdc",
    "type": "ui_dropdown",
    "z": "536dcc6d.5fb21c",
    "name": "",
    "label": "Device",
    "tooltip": "",
    "place": "Select a Device",
    "group": "90e71fd9.6730c8",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "wlan0",
        "value": "wlan0",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "",
    "x": 590,
    "y": 620,
    "wires": [
      [
        "53c52bcf.108d94"
      ]
    ]
  },
  {
    "id": "4acf634a.647e44",
    "type": "ui_button",
    "z": "536dcc6d.5fb21c",
    "name": "",
    "group": "90e71fd9.6730c8",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "refresh devices",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 120,
    "y": 640,
    "wires": [
      [
        "8f8df13.4cb929"
      ]
    ]
  },
  {
    "id": "53c52bcf.108d94",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "save device",
    "func": "\nflow.set(\"device\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 730,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "b325b9d7.2a0a6",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "ipconfig $device",
    "func": "\nmsg.payload = \"ip a show \" + flow.get(\"device\");\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 460,
    "y": 380,
    "wires": [
      [
        "14970b96.4b2bd4"
      ]
    ]
  },
  {
    "id": "c0d6c34e.25dbc8",
    "type": "function",
    "z": "536dcc6d.5fb21c",
    "name": "iwlist $device scan",
    "func": "\nmsg.payload = \"iwlist \"+flow.get(\"device\")+\" scan |\"+\n    \" grep ESSID | sed 's/.*ESSID:\\\"\\\\(.*\\\\)\\\".*/\\\\1/g'\"\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 390,
    "y": 140,
    "wires": [
      [
        "55380153.f50d18"
      ]
    ]
  },
  {
    "id": "4f8e1f28.056ce",
    "type": "file in",
    "z": "536dcc6d.5fb21c",
    "name": "/etc/wpa_supplicant/wpa_supplicant.conf",
    "filename": "/etc/wpa_supplicant/wpa_supplicant.conf",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 640,
    "y": 540,
    "wires": [
      [
        "7f81f078.9c83c8"
      ]
    ]
  },
  {
    "id": "7f81f078.9c83c8",
    "type": "ui_text",
    "z": "536dcc6d.5fb21c",
    "group": "570fea41.3f7ebc",
    "order": 5,
    "width": "6",
    "height": "5",
    "name": "",
    "label": "wpa_supplicant conf",
    "format": "{{msg.payload || '---'}}",
    "layout": "row-spread",
    "x": 940,
    "y": 540,
    "wires": []
  }
]